[2016-10-20 13:46] johngian opened #2 "Add urls for callback endpoint"
* Add ``urls.py`` file to facilitate for project URLs
* Add URL to handle OIDC callback endpoint

[2016-10-25 11:21] johngian opened #3 "Implement oidc callback endpoint"

[2016-10-25 12:02] akatsoulas opened #4 "Implement Authentication backend."
Process the response from the OP and authenticate user.

[2016-10-25 15:48] akatsoulas opened #9 "Handle Authentication Error response from OP."

[2016-10-26 15:36] akatsoulas opened #15 "Validate code from Authorization Response."

[2016-10-26 15:52] johngian opened #16 "Simplify naming schema for the project urls."

[2016-10-26 16:41] johngian commented on #2
Fixed after #14

[2016-10-26 16:41] #2 closed

[2016-10-26 16:42] johngian commented on #3
Fixed after #14

[2016-10-26 16:42] #3 closed

[2016-10-26 18:41] akatsoulas opened #19 "Handle Token Error Responses."

[2016-10-27 10:18] akatsoulas opened #20 "Make Expiration Time Verification optional."

[2016-10-27 10:21] akatsoulas opened #21 "Add support for Not Before Time claim (nbf) in jwt verification."

[2016-10-27 12:57] akatsoulas opened #22 "Handle user creation."
Based on the settings provided by the user, we need to handle user creation in the authenticate method.
Django-browserid has a nice implementation.

[2016-10-28 11:36] johngian opened #25 "Fix RP related settings variable names"
The following settings:

[code]

should be changed to:

[code]

Also `VERIFY_SSL` looks kind of generic and might conflict with the rest of the project settings. Let's add a prefix like `OIDC_OP_VERIFY_SSL`.

[2016-10-28 12:01] johngian opened #26 "Fix redirect_uri value"
`redirect_uri` should be an absolute FQDN and not just the relative path

[2016-10-28 13:24] johngian opened #27 "Check response status code in HTTP calls"
At the moment we are not checking the `status_code` of HTTP requests in auth backend. This means that if for some reason endpoint returns error we are not handling it.

Let's call `raise_for_status` [1] after each HTTP request.

[1] http://docs.python-requests.org/en/master/api/?highlight=raise_for_status#requests.Response.raise_for_status

[2016-10-28 17:00] johngian opened #30 ""import_from_string" fails when default=False"
The way we check for `default_val` in `import_string` is wrong. If `default_val==False` or `default_val==''` and the config entry trying to get is not defined, it raises an `ImproperlyConfigured` error.

[2016-10-28 17:09] johngian opened #31 "Check state string on OIDC callback"
We should store the random state string generated in OIDC authentication request in user session and verify that the callback has the same string in it to mitigate CSRF, XSS and other attack vectors.

[2016-10-31 10:34] #26 closed

[2016-10-31 10:34] johngian commented on #30
Fixed after #29

[2016-10-31 10:35] #30 closed

[2016-10-31 10:37] akatsoulas commented on #15
closed via #23

[2016-10-31 10:37] #15 closed

[2016-10-31 10:43] johngian commented on #16
We should also remove the ``oidc`` prefix since the lib URLs that are imported in a project are namespaced anyway.

[2016-10-31 10:43] johngian opened #32 "Improve documentation"
* Add docs regarding lib installation
* Document lib settings

[2016-10-31 10:43] johngian opened #33 "Improve JWT signature verification"

[2016-10-31 11:09] akatsoulas opened #34 "Use Nonce for validation in code flow."

[2016-10-31 17:27] #16 closed

[2016-10-31 17:30] #4 closed

[2016-11-01 09:56] #31 closed

[2016-11-01 11:00] johngian commented on #9
We allow users to override ``login_failure`` do we still need to manually handle errors?

@akatsoulas

[2016-11-01 14:15] #27 closed

[2016-11-01 16:22] #25 closed

[2016-11-01 16:34] akatsoulas commented on #22
fixed in #38

[2016-11-01 16:34] #22 closed

[2016-11-02 11:11] johngian commented on #33
Here are some suggestions about this issue:

* Instead of decoding the JWT token in order to verify it implicitly we should use JWS instead to verify it explicitly
* Investigate if ``python-jose`` [1] is a better fit instead of ``PyJWT``.
  * ``PyJWT`` doesn't have a documented API for JWS
  *  JWS API implementation in ``python-jose`` looks more friendly to what we are trying to achieve
* Support

[2016-11-02 13:44] johngian opened #43 "Implement logout url/view"

[2016-11-02 18:29] akatsoulas opened #45 "Make 'state' optional in authentication request."

[2016-11-08 21:58] gdestuynder commented on #45
i do not think this is needed anymore, see https://github.com/mozilla-iam/auth0-deploy/commit/e3e261a70653dd9701138455d0dc4fa707cc0563#diff-d1b26f3c70508e6f65750cdc305e0ce5R282 for state support with passwordless.

that said, i would recommend using the hosted lock instead of hard coding a different one, it already has the fixes

[2016-11-10 17:52] akatsoulas opened #47 "Create 'filter_users' method in auth"
We should create a method for filtering users in order to provide an easy way to override the filtering during the creation of a user.

[2016-11-14 11:16] akatsoulas commented on #47
fixed in #48

[2016-11-14 11:17] #47 closed

[2016-11-14 16:24] johngian opened #50 "Handle next URL parameter to redirect after login"
It's common when handling logins to django to pass an extra ``next`` URL param to define where user should be redirected after successful login. In our case

* On authentication initialization we should optionally get ``request.GET["next"]`` and store it in user session (if it exists)
* On callback we should pop this from the session and redirect user after successful login.

[2016-11-15 11:13] #50 closed

[2016-11-15 11:13] johngian commented on #50
Closing this one after #51

[2016-11-16 15:41] akatsoulas commented on #34
fixed via #52

[2016-11-16 15:41] #34 closed

[2016-11-18 16:20] johngian commented on #43
Fixed after #53

[2016-11-18 16:20] #43 closed

[2016-11-21 10:44] akatsoulas opened #55 "Easily override OIDCAuthenticationCallbackView"
We should provide the option to easily override the OIDCAuthenticationCallbackView through settings.

[2016-11-22 11:10] akatsoulas commented on #55
This is already exposed via `OIDC_CALLBACK_VIEW`.

[2016-11-22 11:10] #55 closed

[2016-11-25 13:33] akatsoulas opened #63 "Add support for offline develpment in the lib."

[2016-11-29 10:19] akatsoulas opened #66 "Logout user from OP in the logout view."

[2016-12-05 06:51] ranvijay-zymr opened #70 "The specified alg value is not allowed"
[code]

[2016-12-20 07:49] akatsoulas opened #71 "Enable OIDC discovery for RPs."

[2016-12-27 11:47] #32 closed

[2016-12-27 11:47] akatsoulas commented on #33
This is now merged.

[2016-12-27 11:47] #33 closed

[2017-01-04 11:32] akatsoulas opened #73 "Pass the request object in the authenticate view."

[2017-01-04 13:32] akatsoulas commented on #73
fixed in #74

[2017-01-04 13:32] #73 closed

[2017-04-28 14:38] willkg opened #85 "add support for django 1.11"
Django 1.11 (LTS) released in April 2017.

This issue covers adding support for it.

That might be as easy as adding relevant bits in the `tox.ini`.

[2017-04-28 14:38] willkg commented on #85
I'll work on this today.

[2017-04-28 16:43] willkg commented on #63
I was trying to figure this out when I wrote the auth0 stuff for Standup.

Any thoughts on how to approach this?

[2017-04-28 16:45] willkg opened #88 "document how auth0 identities match to django identities"
There's no documentation covering how mozilla-django-oidc takes an auth0 identity from a user_token and figures out which Django user that belongs to.

It's pretty important for any site that has to migrate from an existing system to this one. Further, surfacing how that works will likely surface inherent restrictions regarding accounts.

[2017-04-28 16:46] willkg commented on #88
I can do a first-pass on this. I'll put it in the Sphinx docs.

[2017-04-28 16:52] johngian opened #89 "Base64 encoding raises error when using Python3"
When ``OIDC_RP_CLIENT_SECRET_ENCODED==False`` authentication raises the following error on callback:

[code]

This gets triggered on python 3.x only.

[2017-04-28 17:36] johngian opened #90 "Make auth0 middleware compatible with Django>1.10"
Starting from version 1.10, Django introduced a new style for middleware classes.
https://docs.djangoproject.com/en/1.11/releases/1.10/#new-style-middleware

At the moment ``contrib.auth0.middleware`` is not compatible nor tested. We should make sure to adapt it to these changes.

[2017-04-28 17:52] #85 closed

[2017-05-01 18:39] willkg opened #91 "User username field shouldn't get a bytes value"
The Django username field should get a unicode value in Python 2 and a string value in Python 3.

However, it's getting the output of `default_username_algo` which generates a string in Python 2 (which is fine since there are no non-ascii characters in it) and a bytes in Python 3 (which is probably not fine).

Further, the signature for username generation functions is "weird" in the sense that it

[2017-05-01 18:41] willkg commented on #91
I claim we should do the following:

1. change the signature for the username generation algorithm so that it takes a string/unicode (it's an email address, so if it's anything else, that's weird) and returns a string/unicode
2. fix the `default_username_algo` accordingly

Does that make sense? If so, I can throw together a fix today.

I can't tell if this is related to #89 since there's no traceb

[2017-05-02 04:51] akatsoulas commented on #91
@willkg it totally does make sense!

[2017-05-02 08:08] akatsoulas commented on #63
Not really, at least not a good one. Maybe we could have a test app that would use github as provider? Ideas more than welcome!

[2017-05-02 08:15] johngian commented on #63
What if we mock the OIDC API calls?

[2017-05-02 15:08] gdestuynder opened #94 "Support prompt parameter none instead of the delegation endpoint"
prompt=none is the OIDC standard and is now supported by auth0:
https://auth0.com/docs/api-auth/tutorials/silent-authentication

Sample (Lua):
https://github.com/pingidentity/lua-resty-openidc/commit/2d21cb521f5edebb76af27bfb1f7a44264d8372e

In other words, instead of calling the delegation endpoint (auth0 specific) we pass a prompt=none parameter to the authorization endpoint, which will return t

[2017-05-03 14:16] #88 closed

[2017-05-08 13:16] willkg opened #96 "document OIDC_CREATE_USER"
When working on PR #95, one of the things that came up was whether we should also document `OIDC_CREATE_USER` in that PR.

From the comments:

This issue covers documenting that setting along with some explanation for why you might want to do that and what you need to implement to make it work well.

[2017-05-08 13:20] #91 closed

[2017-05-08 15:03] willkg opened #97 "add Jinja2 examples"
A lot of Mozilla sites are using Jinja2 and django-jinja, so it's prudent to have Jinja2 examples to make everyone's life easier.

[2017-05-08 15:08] willkg opened #98 "document RefreshIDToken middleware"
There is a `RefreshIDToken` middleware in `mozilla_django_oidc/contrib/auth0/middleware.py`.

This should get documented.

[2017-05-09 09:41] #97 closed

[2017-05-09 13:56] peterbe opened #100 "tox everything"
The README suggests running tests with python.
Apparently the travis file uses its own matrix.
Ideally everything should be all tox.

Also, the documentation should guide developers how to run individual tests rapidly without having to run the whole suite across all versions.

I'm happy to work on this.

[2017-05-09 19:29] willkg commented on #89
Did this issue cover the problem I fixed in #91?

[2017-05-09 19:48] willkg opened #102 "match OIDC identity to Django user issues"
Right now, mozilla-django-oidc matches an OIDC identity to a Django user via the Django user email field.

That's problematic for a couple of reasons:

1. the code is doing a case-sensitive exact match, so it's possible that could fail if the case ever changes (email addresses on some systems are case-insensitive)
2. the email field in the Django user table is not marked as unique and thus you can

[2017-05-10 09:43] johngian commented on #89
No, the issue is in this line:
https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/auth.py#L85

[2017-05-10 16:47] willkg commented on #63
I think if I had my druthers, I'd have two things:

1. A mock for this library that let developers test authentication flows so they can write tests for their site that cover "what happens if the user doesn't exist?", "what happens if the user exists, but is disabled?", "what happens if the user claim data looks like this?", etc. Testing authentication flows is a pain in the ass. A mock would make

[2017-05-15 01:56] techdragon commented on #102
I'd like to recommend that any solution to this issue, provide a simple method for people using custom user models to override the behaviour meant for use with the default Django user model.

For instance one of the things I frequently do with a custom user model is mark the email address as unique in the database and case normalise to lowercase in order to ensure no uppercase/lowercase duplicates

[2017-05-15 13:07] willkg commented on #102
@techdragon It already allows for that.

https://mozilla-django-oidc.readthedocs.io/en/latest/installation.html#connecting-oidc-user-identities-to-django-users

I wrote up this issue to fix the default behavior.

[2017-05-16 10:26] akatsoulas commented on #102
Having the email as the identifier is handy because of its use to login to a RP. That said, I think it makes sense to use Django's `username` and maybe we could give the ability to the users to change this behavior through the configuration of the lib.  If we are going down this way, I don't think that we should consider the case-sensitivity of the email an issue any more. 👍 for this change.

[2017-05-17 16:40] peterbe opened #106 "How is this different from django-oidc?"
I.e. https://pypi.python.org/pypi/django-oidc
I think we should document this in the README.

[2017-05-17 16:42] peterbe opened #107 "Consider a name change?"
Having the word "mozilla" in the name implies (at least to me) that this is extremely Mozilla specific. But I think that's not true; it's Django and an OAuth2 provider, right? Nothing specific to Mozilla.

At first I thought, why not just call it "django-oidc" but then I noticed this: https://github.com/mozilla/mozilla-django-oidc/issues/106

[2017-05-17 20:09] akatsoulas commented on #107
That's true, although the usage initially was tightly tied to Mozilla. We implemented only the code flow and we tried to follow the BrowserId paradigm in order to easily plug it to existing projects. That said I am totally open to a name change and more than happy to augment the functionality so that we can have a complete OIDC lib. Any good suggestions about the name? @johngian thoughts?

[2017-05-17 21:08] peterbe commented on #107
@willkg is good with names :)

[2017-05-17 21:28] willkg commented on #107
As much as I want a generally useful library for everyone in the world, I don't really care that much. We have a lot of Django sites in Mozilla and it behooves us greatly to simplify everyone's situation with a library that caters to Mozilla sites as a primary use case. That's my opinion in case it's helpful.

I don't have any good name ideas offhand, but I can think about it. Having said that, I

[2017-05-18 09:23] johngian commented on #107
I am also leaning towards facilitating our projects needs first but that doesn't mean that the library is tied to any special functionality that we use in our django projects. My suggestion is to focus to our own needs and keep custom (auth0) functionality under contrib, but not aim for a full OIDC implementation just for the sake of providing a fully compatible lib.

Also regarding names, ``mozil

[2017-05-19 15:07] willkg commented on #98
This got covered in https://github.com/mozilla/mozilla-django-oidc/pull/104

So we're all set now with the vague caveat that that doesn't work with Django 1.11. But that work is covered in #90.

Given that, closing this out.

[2017-05-19 15:07] #98 closed

[2017-05-19 15:08] willkg commented on #90
I'll work on this today.

[2017-05-22 12:47] peterbe opened #108 "No test coverage of OIDC_OP_LOGOUT_URL_METHOD"
When working on https://github.com/mozilla/mozilla-django-oidc/pull/105 I noticed that we're missing some test coverage on `views.py`:

<img width="749" alt="screen shot 2017-05-22 at 8 46 33 am" src="https://cloud.githubusercontent.com/assets/26739/26309477/304cce26-3ecb-11e7-9864-26d55a3c24cf.png">

I'm not actually familiar with that line but it looks rather complex so we should probably have t

[2017-05-22 12:48] peterbe opened #109 "No test coverage of auth0/utils.py:logout_url()"
I noticed we don't execute any test coverage on logout_url() in `auth0/utils.py`:

<img width="744" alt="screen shot 2017-05-22 at 8 47 44 am" src="https://cloud.githubusercontent.com/assets/26739/26309550/7643b00c-3ecb-11e7-8398-37b76672d95c.png">

[2017-05-22 14:40] #100 closed

[2017-05-22 16:31] peterbe commented on #100
Odd. How did you merge this PR? It says it's Closed.

[2017-05-22 16:35] willkg commented on #100
This is the issue that pr #105 fixed. So when pr #105 was merged, because it has "fixes #100" in it, it closed this issue, too.

[2017-05-22 17:53] peterbe commented on #100
Ha! I thought this was **the PR**. Clicked the link in the notification email too quickly.

[2017-05-23 00:13] willkg opened #110 "update contribution docs"
After we landed the `tox` changes, we updated the README, but didn't update the contribution docs:

https://mozilla-django-oidc.readthedocs.io/en/latest/contributing.html#tips

[2017-05-24 19:33] willkg commented on #63
I'm going to spin off the "add a mock" to a new issue. I really think that's worth exploring further and probably "easy" to do.

[2017-05-24 19:36] willkg opened #113 "create a oidc mock"
It would make it much easier if we had a mock for this library that let developers test authentication flows so they can write tests for their site that cover "what happens if the user doesn't exist?", "what happens if the user exists, but is disabled?", "what happens if the user claim data looks like this?", etc. Testing authentication flows is a pain in the ass. A mock would make that a lot easi

[2017-05-24 22:12] willkg commented on #113
I think it should be a context manager so you can throw state away if you want to in the middle of a test.

I think we want to use it to test flows with different kinds of user data. In order to do that, we need to "create users" that it knows about along with the users' relevant `user_info` data. Plus I think we need to be able to trigger a login flow.

So maybe something like this:

[code]

Then

[2017-05-25 07:14] #90 closed

[2017-05-26 13:33] #110 closed

[2017-05-26 15:34] pmac commented on #96
In my use case I would just like for users that aren't in the my DB but do come to the app as authenticated to be redirected to an "unauthorized" page of some sort. I want to control which people have access to my app, and so if an authentication request comes in for an email address we don't know, they should just be rejected. Perhaps we should also have a `OIDC_REJECTED_URL` setting to send them

[2017-05-27 00:19] gdestuynder commented on #94
Same for Flask-pyoidc: https://github.com/zamzterz/Flask-pyoidc/pull/17

[2017-05-30 18:28] gdestuynder commented on #71
OIDC Discovery tldr:

OIDC client/RP loads the discovery URL such as https://auth-dev.mozilla.auth0.com/.well-known/openid-configuration and assigning endpoints URLs based on it. This makes it easier to configure endpoints for clients, basically.

[2017-05-30 18:42] peterbe commented on #71
So what did we have in mind here? (I'm thinking quite a lot about the documentation)
An RP developer, like me, has a **domain** and I can append `/.well-known/openid-configuration` and study that JSON with my eyes and try to figure out what the URLs should be.

Would it be an option to add a management command, like: `./manage.py discover-oidc-urls mydomain.auth0.com` that spits out the right URLs

[2017-05-30 18:42] peterbe commented on #71
At least we could start with adding the trick of `GET mydomain + /.well-known/openid-configuration` to the documentation.

[2017-05-30 18:47] peterbe commented on #71
Heck, what about setting `OIDC_OP_DOMAIN = "mydomain.auth0.com"` in `settings.py` and it could just do everything else.
Perhaps something like this:

[code]

[2017-05-30 19:12] peterbe opened #114 "Clash between OIDC_OP_CLIENT_ID and OIDC_RP_CLIENT_ID"
[`OIDC_OP_CLIENT_ID`](https://github.com/mozilla/mozilla-django-oidc/search?utf8=%E2%9C%93&q=OIDC_OP_CLIENT_ID&type=) is only mentioned in the documentation.

Seems the *real* value is [`OIDC_RP_CLIENT_ID`](https://github.com/mozilla/mozilla-django-oidc/search?utf8=%E2%9C%93&q=OIDC_RP_CLIENT_ID&type=).

[2017-05-30 19:21] peterbe commented on #114
Oh I'm so confused about this.

Here's all mention, in the git checked in code, about `OIDC_RP_`:
[code]

Here's all mention about `OIDC_OP_`:
[code]

First of all, I'm not convince about the abbreviation "OP". The full word is "OpenID provider" which isn't a name. It's a noun.

Technically correct or not, why not just shorten **all** these prefixes to just `OIDC_`? So `OIDC_CLIENT_ID` and `OIDC_A

[2017-05-30 19:21] peterbe commented on #114
@akatsoulas @willkg opinions on my last question in the comment above?

[2017-05-30 19:34] willkg commented on #114
I've been testing mozilla-django-oidc master tip out with Standup and fixed some issues in #115. I'll add fixes for the `docs/settings.rst` file, too.

I don't find the settings names confusing, so I can't speak to that.

[2017-05-30 19:35] willkg commented on #114
Oops--scratch that. `docs/settings.rst` is fine. So my PR covers all the issues.

[2017-05-30 19:41] peterbe opened #116 "jws.verify() returns a byte string"
I'm currently getting this error:
[code]

It happens because of these lines:
https://github.com/mozilla/mozilla-django-oidc/blob/fa202c92a5317b2dc66d77861aebd4c0df340449/mozilla_django_oidc/auth.py#L87-L88

The `verified_token` variable becomes a byte string (Python 3.5 in my docker). E.g. `b'{"iss":"https://auth.mozilla.auth0.com/","sub":"a...`

Can you can't send in a byte string to `json.loads(

[2017-05-30 19:42] peterbe commented on #116
For what it's worth, variables `token` and `secret` (both which are passed into `jws.verify` are regular strings (i.e. unicode).

[2017-05-30 19:59] peterbe commented on #116
It might be a bug in `python-jose`. See [the doc string for `jws.verify`](https://github.com/mpdavis/python-jose/blob/7403dffbf9d8980c43c9ea40e4c580035d7b2fce/jose/jws.py#L60)
It says the payload is supposed to be a `str`.

However, the `payload` is ultimately coming from [here](https://github.com/mpdavis/python-jose/blob/7403dffbf9d8980c43c9ea40e4c580035d7b2fce/jose/jws.py#L196) which is, ultimat

[2017-05-30 20:03] willkg commented on #116
Are you setting `OIDC_RP_CLIENT_SECRET_ENCODED` ?

[2017-05-30 20:08] peterbe commented on #116
No.

[2017-05-30 20:12] peterbe commented on #116
Apparently, in Python 3.6 you will be able to send a byte string to `json.loads`
https://bugs.python.org/issue10976
Till then we need a solution.

[2017-05-30 20:14] willkg commented on #116
Ahh... ok. I'm using Python 3.6 so I'm not seeing this. I thought maybe this was a dupe of #89.

[2017-05-30 20:16] peterbe commented on #116
So close in the code in terms of number-of-lines-away but indeed different.

To make myself unstuck and being able to log in at all in my docker life, I edit the code inside `mozilla_django_oidc/auth.py` :)

[2017-05-30 20:32] willkg opened #118 "if LOGOUT_REDIRECT_URL is not set, it defaults to None"
If `LOGOUT_REDIRECT_URL` is not set, then it defaults to `None` in Django 1.10+.

The settings docs suggest it defaults to `/`, but it doesn't. So if you don't set it, then after going through the `OIDCLogoutView` dispatch code, the user gets redirected to `None` which ends up being `/oidc/logout/None` which is a 404.

This issue covers figuring this out.

[2017-05-30 20:34] willkg commented on #118
I'm not really sure what to do here, but seems prudent to update the settings documentation to something like:

Then add a section to the Quickstart guide about which redirect urls the developer needs to set and what they should get set to.

I'll do a PR for that now.

[2017-05-30 21:32] gdestuynder commented on #71
the last comment => yes :)
Also spec: http://openid.net/specs/openid-connect-implicit-1_0.html#SelfIssuedDiscovery

[2017-05-31 01:26] willkg commented on #106
The django-oidc library doesn't look well maintained and by having our own library we can handle Mozilla-centric things. I don't think it's worth spelling this out in the README.

[2017-05-31 10:09] #118 closed

[2017-05-31 14:47] peterbe opened #121 "UnboundLocalError on logout"
See traceback below.
Happens when I try to go to `http://localhost:8000/oidc/logout/`

The [relevant code](https://github.com/mozilla/mozilla-django-oidc/blob/320792bb6b2c95d4257ff34c9897b67ddf6ced29/mozilla_django_oidc/views.py#L118-L128) assumes that the user is authenticated.

[code]

[2017-05-31 14:51] akatsoulas commented on #114
I totally understand how this can be confusing but I am already familiarized with the naming schema so I don't think that I am the most suitable person to talk about this.

Regarding the background behind the naming, we just wanted a way to differentiate the settings related to the Provider (OP) and the app (RP). By adding for example `OP` to the `AUTHORIZATION_ENDPOINT`, it's easier to identify t

[2017-05-31 14:58] #116 closed

[2017-05-31 15:18] peterbe opened #125 "Don't call `user.is_authenticated` in Django >= 1.10"
As of Django 1.10 `request.user.is_authenticated` is no longer a method. It's a property. So doing `request.user.is_authenticated()` is like doing `True()`.

[Relevant line](https://github.com/mozilla/mozilla-django-oidc/blob/73ab94eda95800b256f1d773bca6beb436944d4b/mozilla_django_oidc/views.py#L118).

Note: https://github.com/mozilla/mozilla-django-oidc/pull/123 is in the midst of changing the re

[2017-05-31 15:19] peterbe commented on #125
Oh. Actually, it's NOT like doing `True()` (or `False()`) because the `user.is_authenticated` is a `CallableBool` thing.

Also, see https://github.com/mozilla-services/python-dockerflow/issues/14

[2017-05-31 15:34] willkg commented on #94
I was going to work on this today. Pretty sure it's straight forward. The link to the flask equivalent helps.

[2017-05-31 16:04] peterbe commented on #114
I feel down-voted and that's fine. If nobody else minds the verbosity of the extra abbreviations then let's close this.

[2017-05-31 16:04] #114 closed

[2017-05-31 16:32] #96 closed

[2017-05-31 17:13] peterbe opened #126 "Only allow logout on POST"
We allow logging out simply by GET'ing a URL (`/oidc/logout/`). https://github.com/mozilla/mozilla-django-oidc/blob/04fcbdb1a8697792a7183b99baa0e11beaaa6430/mozilla_django_oidc/views.py#L115

We should probably avoid that.
E.g. https://stackoverflow.com/a/14587231/205832

[2017-05-31 17:43] peterbe commented on #126
Is the likes of mozillians.org ready for switching to POST only? Also, should it require CSRF?
@akatsoulas @johngian

[2017-06-01 01:18] willkg commented on #102
I'll throw together a PR to fix the case-sensitive check.

I'm on the fence about whether to move this to the username field because Django 1.8 and 1.9 have a username field has a 30 character maximum.

Part of me is thinking that we should wait to make that change until after we've dropped support for Django 1.8 and 1.9.

[2017-06-01 11:02] johngian commented on #126
Switching mozillians.org will not be a big issue. And yes lets use CSRF.

[2017-06-01 12:43] #121 closed

[2017-06-01 13:22] peterbe opened #129 "We should explain how ID token refreshment and JWT Expiration works"
I can imagine that it's really confusing to people how the refresh ID token works and how it coincides with JWT Expiration.

By default, in Auth0, the JWT expiration is 3600 seconds.
<img width="641" alt="screen shot 2017-06-01 at 9 15 30 am" src="https://cloud.githubusercontent.com/assets/26739/26681344/e41d69ce-46aa-11e7-8dc0-0a4b020e4c89.png">
That means that you have to do an ID token refreshe

[2017-06-01 14:39] willkg commented on #66
Is this covered here already?:

https://github.com/mozilla/mozilla-django-oidc/blob/8d096dc0d1709e87fda80ce896a8a097d8ee3a03/mozilla_django_oidc/views.py#L122

[2017-06-01 14:40] akatsoulas commented on #66
Yes! Probably forgot to close the issue. Thanks!

[2017-06-01 14:40] #66 closed

[2017-06-01 14:41] willkg commented on #45
Can this one be closed out? If not, what needs to be done here?

[2017-06-01 14:42] akatsoulas commented on #9
I am closing this issue since it's old and we already have a way to handle errors.

[2017-06-01 14:42] #9 closed

[2017-06-01 14:52] johngian commented on #45
Yes let's close this. It was opened as a workaround to fix hosted vs modal lock back then.

[2017-06-01 14:52] #45 closed

[2017-06-01 14:52] willkg opened #130 "drop support for Django 1.9"
Django 1.9 isn't supported anymore by the Django project. We should drop support for it.

Mostly this means removing it from the test environment matrix. This will make running all the tests faster by removing 3 test runs so it's probably worth doing.

[2017-06-01 14:52] willkg commented on #130
Anyone object to this? If not, I can throw a PR together.

[2017-06-01 14:54] akatsoulas commented on #130
sounds good!

[2017-06-01 15:37] peterbe commented on #94
@gdestuynder Pardon my ignorance but back in the day when we used `/delegation` instead to renew the ID token we were able to do that **from the server**. I.e. a communication between, say, airmozilla and auth0. The client would not even notice, at all, when things go well. In @willkg 's implementation in https://github.com/mozilla/mozilla-django-oidc/issues/127 he makes the **user** redirect to r

[2017-06-01 15:50] willkg commented on #94
@peterbe https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/contrib/auth0/middleware.py#L29

It was excluding AJAX-y things already.

[2017-06-01 15:56] #130 closed

[2017-06-01 16:11] peterbe commented on #94
@willkg that's because the code originated from airmozilla which was/is a very server-side rendering heavy site.

The more I think about it, single-page apps usually don't rely on cookies for auth state. You usually do an auth process, get an auth token and then pass that auth token/header or something in consecutive calls. However, we still want to have the feature that people who leave their ema

[2017-06-01 16:19] willkg opened #133 "support AJAX-y sites"
The current middleware and the new one don't support AJAX-y sites.

This issue covers figuring out how web-sites that are predominantly doing AJAX requests to move data around will work with this library.

[2017-06-01 16:20] willkg commented on #94
I think this is out of scope for this issue because nothing is changing in this regard to support the "prompt=none" change.

I made issue #133 for covering that.

[2017-06-01 16:22] #125 closed

[2017-06-01 16:39] johngian commented on #94
I don't think that this is in the scope of this issue. If we want to support single page apps we probably need to implement OpenID connect "implicit flow".

[2017-06-01 16:43] peterbe commented on #133
@johngian You mentioned *"OpenID connect "implicit flow"."* in https://github.com/mozilla/mozilla-django-oidc/issues/94#issuecomment-305550508
Can you elaborate on that?

[2017-06-01 16:45] peterbe commented on #94
OK. Let's redirect the discussion of AJAX heavy sites to #133.

My question is still this; Is it possible (without being strictly tied the vendor Auth0) to do an ID token refresh *without* forcing the user to do a redirect trip in her browser? I.e. server to server communication. (If that's done during a web request or in a cron job or message queue is irrelevant).

[2017-06-01 22:54] willkg commented on #94
Pull #127 changes the middleware to use the authentication endpoint with prompt=none.

The single-page-app discussion is moved to #133.

That covers it for this bug--so I'm closing it out.

[2017-06-01 22:54] #94 closed

[2017-06-01 23:00] willkg opened #134 "push out a new version (0.2.0)"
I was talking with @johngian earlier today and he was of the mind that we should do a version release soon. That'll help @peterbe who is eagerly looking for a release. It'll help me, too, since then I can switch Standup over to use this.

The git log has this:

[code]

That roughly pares down to this to `HISTORY.rst`:

[code]

Is that missing anything noteworthy? Is there anything else we want to

[2017-06-01 23:33] gdestuynder commented on #94
Indeed, the silent authentication/prompt=none needs special handling for XHR type requests  and or posts
The delegation endpoint is auth0 specific and I suspect might be phased out eventually (thought its not on the radar so far) as auth0 is trying to standardize everything around the OIDC spec.

There is also a draft OIDC spec for session support that also works for backends - but it's still in d

[2017-06-02 14:38] peterbe commented on #134
Did you just shanghai yourself into becoming release manager for this project? wow!

[2017-06-06 13:00] #89 closed

[2017-06-06 13:18] johngian commented on #134
I just merged #135 so this line should be added:

[code]

[2017-06-06 14:14] peterbe commented on #134
@johngian is that a "backwards-incompatible change" thing?

[2017-06-06 14:15] johngian commented on #134
Good question, yes it is.

[2017-06-06 14:17] johngian commented on #134
Also i tested current master and looks OK. Is there any other last moment change that we want to add before the release?

[2017-06-06 14:21] willkg commented on #134
I can't think of anything. I'm game for helping with any issues that come up after the release.

[2017-06-06 14:21] johngian commented on #134
Cool, i will push the release in the next few hours.

[2017-06-06 14:22] johngian commented on #134
@willkg BTW thanks for the work on ``HISTORY.rst``.

[2017-06-06 14:30] peterbe commented on #134
I can't think of anything.

[2017-06-07 14:02] johngian commented on #134
Closing this one after:

* https://pypi.python.org/pypi/mozilla-django-oidc/0.2.0
* https://github.com/mozilla/mozilla-django-oidc/releases/tag/0.2.0

[2017-06-07 14:02] #134 closed

[2017-06-07 14:05] willkg commented on #134
Awesome--thank you!

[2017-06-08 20:04] peterbe opened #136 "Use the request instead of SITE_URL"
As far as I can see, the only places where we use `SITE_URL` we have access to a `request` object. They have the ability to make absolute URLs without a custom setting.

I'll make an attempt and refactoring it away but perhaps stop me if there's a need to be able to know the site's public-facing site URL that I don't get.

[2017-06-09 13:49] #109 closed

[2017-06-09 14:51] #108 closed

[2017-06-09 15:02] peterbe opened #141 "No test coverage of claim with falsy email"
See
<img width="776" alt="screen shot 2017-06-09 at 11 02 01 am" src="https://user-images.githubusercontent.com/26739/26981428-2313bc7e-4d03-11e7-8d63-03a682138ee7.png">

[2017-06-09 15:28] peterbe commented on #133
@gdestuynder You mentioned *"There is also a draft OIDC spec for session support that also works for backends - but it's still in draft and not supported anywhere yet (AFAIK)** in https://github.com/mozilla/mozilla-django-oidc/issues/94#issuecomment-305648877
So does that mean there is no good way to check if a user is still valid without involving a browser and a redirect?

One option would be, i

[2017-06-09 15:37] peterbe opened #143 "Release for every feature/bug fix"
I propose we make releases more frequently. One release for every new feature or bug fix. That way, we don't have have a meeting and say "Ok, what's changed since the last release?" and type that up in `HISTORY.txt` along with a change to `mozilla_django_oidc/__init__.py`'s `__version__` string.

It is possible to encryt your PyPI password and put that in `.travis.yml` and let travis try to make a

[2017-06-09 15:42] peterbe commented on #143
Another option is to use git tagging to drive releases. Travis can be set up to only attempt to make a PyPI release when a new tag is pushed to origin/master. [For example](https://github.com/jazzband/django-configurations/blob/master/.travis.yml#L40-L41)
But you still have to make a code change, [for example](https://github.com/jazzband/django-configurations/commit/376b5947a8455e3f1bd01dd2dbc17c7

[2017-06-09 16:04] johngian commented on #143
I agree with the idea of having faster releases. Although I agree that the first approach looks better I generally like projects with github releases in sync with pypi releases.

Maybe we can combine both:

* Minor fixes without changes in ``HISTORY.txt`` and ``__init__.__version__`` don't trigger a build
* Features should always be accompanied with changelog and version bump
* Travis will build a

[2017-06-09 18:04] johngian commented on #143
I opened a PR with the initial proposal of @peterbe. Apparently travis isn't really flexible to chain a github deployment on succesful pypi release.

[2017-06-09 18:19] johngian commented on #143
That said I lean towards

* Restrict PyPI travis deployment on new github releases
* Every time we want a new feature to land to PyPI
  * Change ``__version__``
  * Add ``HISTORY.rst``
  * Merge
  * Draft new github release with the ``__version__`` defined above

[2017-06-09 23:46] willkg commented on #143
I think this is a security-related library and as such releases require three properties:

1. releases can only be done by a specific group of people
2. releases are explicit and intentional
3. release tags are signed

I think that might be good enough. However we do it, we're going to want the release process and this library to be vetted by @jvehent and his crew. That's next on my list to coordi

[2017-06-12 08:23] #136 closed

[2017-06-12 12:30] #141 closed

[2017-06-12 13:13] peterbe commented on #143
Regarding...

1. Does that mean only we 4 humans can do it? And not TravisCI?
2. What does that imply?
3. [A commit can be signed too](https://help.github.com/articles/signing-commits-using-gpg/). I guess that doesn't happen when you press the green merge button in GitHub.

[2017-06-12 13:22] jvehent commented on #143
As @willkg said, I think the action of releasing a new version is really issuing a signed git tag, which only a handful a maintainers can do (the 4 humans). When a signed git tag is found, travisci can propagate the release to wherever it needs to (pypi, etc.). [Sops does something similar](https://github.com/mozilla/sops/blob/master/.travis.yml#L23-L33).

Signed commits don't exactly carry the sa

[2017-06-12 13:36] peterbe commented on #143
That was news to me. I don't think I still understand it but, this answers point 3. Tags it is.

What you're also saying is that it's ok that Travis goes ahead and makes the deployment (based on the new tag). So that answers point 1 too.

[2017-06-12 13:44] jvehent commented on #143
It really goes down to the difference between a commit and a tag. A tag says "I looked at all these commits and decided to release them as a new version". You can't do that with just commits. Signing the tag just adds extra security.

Also, it's impractical to require all commits being signed, because contributors, etc. It's easier to just require tags issued by a handful of maintainers to be sign

[2017-06-12 18:48] johngian commented on #143
I don't think that travis can check if a git tag is signed but we can make sure all version tags are signed. Maybe using ``condition`` [1] we can verify the tag but it needs some more investigation.

Does the following sum up all the above?

* On new feature PRs we change ``HISTORY.rst``
* If devs decide we need a new release
  * Create a commit with a version bump
  * Create a signed tag of the v

[2017-06-13 12:42] peterbe commented on #143
The only nit I can see is "On new feature PRs we change HISTORY.rst". Should be "On new feature or bug fix PRs we change HISTORY.rst".

[2017-06-13 13:47] kaleissin opened #146 "The setting SITE_URL is not documented"
I'm trying to use mozilla-django-oidc (version 0.2.0) in a fresh django 1.11/python3.5-project, and get

[code]

This is not documented anywhere.

[2017-06-13 13:57] willkg commented on #146
It's because ReadTheDocs is set up to generate docs for master tip and that just changed.

[2017-06-13 16:13] willkg opened #147 "document logout url"
The SSO request form asks for a logout url. There's nothing in the docs about logout urls.

I'm a little fuzzy on what this entails.

Should we just document what the logout url that mozilla-django-oidc provides is like we do with the callback url?

Should we have a section that talks about what that logout url does and doesn't do so that users (developers) can do their own thing if they have diff

[2017-06-13 19:34] gdestuynder commented on #133
It is possible to call the Auth0 API backend to get the same information when no redirect flow is possible (with an access token - if it was a cron script it would also have to use an access token anyway).
The main difference though is that it gives the RP access to user's data that the user does not explicitly grants access to (ie bypasses OIDC/OAuth) thus we tend to be careful with it. I've alre

[2017-06-13 20:54] #126 closed

[2017-06-13 20:55] willkg opened #148 "push out a new version (0.3.0)"
This is @peterbe's email:

[code]

[2017-06-13 20:58] willkg commented on #148
This will alleviate the issue in #146, too. I can look at fixing that for realz at some point.

[2017-06-13 23:59] willkg commented on #143
If we forget to change HISTORY in a pr, I'm happy to do it in a separate PR. Generally, it's the "backwards incompatible things" that really needs a note because those affect people upgrading.

[2017-06-14 06:03] hmpf opened #149 "Feature request: support RS256 as signing algorithm"
mozilla-django-oidc cannot be used with the provider [Dataporten](https://auth.dataporten.no/.well-known/openid-configuration) as it does not support RS256.

Currently you wind up with a 500 error due to the following exception being raised:

[code]

[2017-06-14 07:55] johngian commented on #148
Done:
https://pypi.python.org/pypi/mozilla-django-oidc/0.3.0

[2017-06-14 07:55] #148 closed

[2017-06-14 07:55] johngian commented on #146
Latest library release doesn't use ``SITE_URL`` config entry.

[2017-06-14 07:55] #146 closed

[2017-06-14 11:59] hmitsch commented on #94
Note to self: This was Sprint 9 scope. Delivered to PROD.

[2017-06-14 12:27] willkg opened #150 "change readthedocs and versioning"
Issue #146 came about because RTD is set up to build master tip. So any time we merge changes, it updates the docs. Thus the docs can get out of sync with the released version.

This is compounded by two other issues:

1. after we do a release, we don't then update the version to 0.x.y.dev0 or something like that (I do that with my projects) -- if we did this, then the docs would show that they ap

[2017-06-14 12:35] peterbe commented on #133
I quite like that idea. It's a shame it can't be done with OIDC, but it would definitely solve our "enterprise problem" (i.e. that ownership of email addresses cease some times).
I skimmed the docs real quick and it seems you can use your client domain, client ID and client secret, to request a 24h access token. Then you can do a search by email and the response will have blocked=true|false.

Cons

[2017-06-14 12:53] peterbe commented on #150
Pardon my ignorance of RTD, but is it not possible to make builds by tag?
(Then you can have a RTD build for master and one for each tag. "latest" in RTD lingo would point to the latest tag.)
I noticed that http://django-browserid.readthedocs.io/en/latest/ has "latest", "stable" and one version for every github release. But I'm ignorant as to how that was made.

Keeping it simple and automated :)

[2017-06-14 22:37] gdestuynder commented on #133
That's correct, using your client id/secret to request an access token, then use that to call the Auth0 API.
Your client id needs to be authorized though, but that can be done (its a few clicks on our side). Again we don't want to do this for too many RPs but this is definitely possible (and also is 100% auth0 specific in this case)

The auth0.js solution can possibly be done in a non-auth0 way th

[2017-06-15 09:14] akatsoulas commented on #150
It looks like that RTD support tags. `latest` can point always to the master branch and the `stable` branch will reflect the tags of each release [0].

We can try this after PR #145 is merged.
[0] http://docs.readthedocs.io/en/latest/versions.html

[2017-06-15 11:07] johngian commented on #143
Fixed after #145

[2017-06-15 11:07] #143 closed

[2017-06-15 11:24] johngian commented on #133
Although I don't have a solid idea about the implementation details, but does it make sense to implement a custom HTTP API endpoint that responds if the user is blocked/inactive (without revealing any further OIDC data) given an identification attribute (eg. user email) as input?

My thinking behind this is the following:
a) Its not a good idea to request access token and consume data that users h

[2017-06-15 13:17] johngian commented on #150
Hey all! I updated the readthedocs versions to show all tags.

Latest points to master and default readthedocs version is the latest tag.

[2017-06-15 13:23] johngian commented on #150
Reopening because i haven't really fixed the automation part that way :\

[2017-06-15 15:18] peterbe commented on #133
@johngian
I think this solution should be entirely outside this project. Once we've built and tested something, we can perhaps turn that into a package or something and release it separately. Then *this* project could *link* to that in its documentation or something.

@gdestuynder
The reason I'm excited about the idea of using the Auth0 Management API (isn't that what it's called) is because it'll

[2017-06-15 22:08] gdestuynder commented on #133
For 1. yep - it'd like a non-API solution but the API solution works (and yes its "Auth0 Management API" indeed)

for 2. we have an issue similar to this at https://github.com/mozilla/iam-project-backlog/issues/110, i.e. to be able to issue API tokens (really OAuth access tokens) that are tied to your Auth0 user in a generic-ish way (like, go on your Mozilla SSO dashboard and issue token from your

[2017-06-16 12:28] peterbe commented on #133
One thing, before I forget, is that we'd need to extend the Hub form to ask "Do you need to use the Auth Management API?"?

@gdestuynder Can you do me a favor? I have a client for symbols.dev.mozaws.net. The client id is hJDCFor3jKW7D7DCt6z4WsaiBOSiIrnb
Can you upgrade that account so I can use the Auth0 Management API? Then I can write a first draft of this in my Django app. And we can have somet

[2017-06-16 18:01] andrewkrug commented on #133
We should just standardize these scopes so we're being consistent with usage of the management API.

[2017-06-16 19:24] gdestuynder commented on #133
For Ajax-y sites I wrote a little POC that makes handling of session easier when the upstream code doesn't do error checking or anything like that:

[2017-06-16 19:40] peterbe commented on #133
Because I don't want to forget it; here's an example implementation that does the access token dance and some API ops all written in Python.
https://github.com/mozilla-iam/cis_functions/blob/master/functions/idvtoauth0/authzero.py
Thanks @gdestuynder

[2017-06-19 14:27] willkg opened #153 "/oidc/callback/ infinite redirect loop"
I switched standups from our home-grown auth0 client implementation to mozilla-django-oidc 0.3.1 on Friday. At least one user went to use the site and immediately entered an infinite redirect on this url:

[code]

Clearing the browser's standup cookies fixed it.

It's possible that it's the `/oidc/callback/` view does its thing and there's one branch that redirects to itself or something. Maybe th

[2017-06-22 00:42] willkg opened #154 "/oidc/callback/ throws exception on 403 from /oauth/token/"
[code]

In our specific case, I'm pretty sure what's going on is that users are using Standups for the first time since I switched from our auth0 library to mozilla-django-oidc and we also recycled the client secret. So the user has a Django session with bits from the previous auth0 setup and it doesn't jive with this one.

However, the 403 is unhandled here and results in Standups returning an HT

[2017-06-23 21:25] codytodonnell opened #156 "pycrypto doesn't compile on windows"
Despite attempting several different installation methods, I always receive the following error:

[code]

I have installed Visual Studio Community 2017 and Visual C++ 2015 Build Tools.

I tried installing the package with wheel (found [here](https://pypi.python.org/pypi/mozilla-django-oidc)) but got the same error. Also tried installing with the .tar.gz file on that page but again got the same err

[2017-06-23 21:37] willkg commented on #156
Is that the only output you get from trying to install mozilla-django-oidc?

If so, I'm guessing it's dying on installing pycrypto which is a dependency of python-jose which mozilla-django-oidc uses.

I don't compile Python libraries on Windows, so I'm just guessing, but after doing a Google search, seems like this might be helpful:

https://stackoverflow.com/questions/11405549/how-do-i-install-py

[2017-06-26 14:30] codytodonnell commented on #156
Yes this lead to a solution!

I installed one of the pycrypto binaries from the link in the SO answer:

`easy_install http://www.voidspace.org.uk/python/pycrypto-2.6.1/pycrypto-2.6.1.win-amd64-py3.4.exe`

And after that I was able to successfully install mozilla-django-oidc using pip.

Thanks!

[2017-06-26 21:20] codytodonnell commented on #156
Hate to do this but I spoke too soon...

After installing pycrypto through easy_install I was able to install mozilla-django-oidc using pip without any errors, but the pycrypto library still seems like it wasn't installed correctly.

Upon hitting the authorize endpoint, my app is redirected to the callback URL, at which point I receive the following error:

`ImportError: DLL load failed: The speci

[2017-06-27 14:45] willkg commented on #156
I don't think any Mozilla sites are using Windows, so I'm not going to work on fixing this. It sounds like it's a problem with pycrypto not building on Windows. mozilla-django-oidc doesn't use pycrypto directly, but uses python-jose which uses pycrypto.

I'm going to fix the summary of this to make it clearer.

[2017-06-28 14:10] maikhoepfel commented on #149
I suggest closing this as a duplicate of https://github.com/mozilla/mozilla-django-oidc/issues/70.

[2017-06-28 14:11] maikhoepfel commented on #70
I suggest closing this a duplicate of https://github.com/mozilla/mozilla-django-oidc/issues/149.

[2017-06-28 14:15] maikhoepfel commented on #149
This unfortunately also happens with Microsoft's ADFS OIDC integration. I managed to reproduce it locally with an instance of Keycloak where one can enforce signing with RS256. `python-jose` luckily supports RS256, so I hope the needed changes are manageable.

I might be able to look at this. Is RS256 support something you would merge?

[2017-06-30 14:38] willkg commented on #156
We (maintainers) had a talk and none of us use Windows and we don't see how we can support Windows effectively.

Given that, I'm going to close this out and add a note that we don't support Windows.

[2017-06-30 14:38] #156 closed

[2017-06-30 16:56] johngian commented on #149
@hmpf Yeah definitely. PRs are welcome :+1:

[2017-06-30 17:42] maikhoepfel commented on #149
I set the allowed protocol from  `'HS256'` to `'RS256'` in `mozilla-django-oidc`, which unfortunately triggers a failure with any of the three crypto backends in `python-jose`. I did not know how to proceed beyond that point.

I gave up and went with https://github.com/py-pa/django-oidc instead.

[2017-07-14 11:03] puiterwijk commented on #149
@maikhoepfel Did you also change the key that it uses? Since with HS256, the client secret is used for the HMAC, whereas with RS256, the provider uses a JWK RSA key to sign.
If you want to, you could try my patch out in #161, since that implementation works well for me.

[2017-07-25 01:03] willkg commented on #153
I have a few users who keep hitting the infinite redirect, so I don't think the theory that it was a transition issue holds water.

Maybe what's going on is that the browser goes to `/oidc/callback` with an error. The callback view has no explicit handling for this. The callback view redirects the user to the failure url which by default is `/`. Standup is using the middleware, so then the middlew

[2017-07-25 19:45] claudijd opened #163 "Update legacy references to runtests.py"
I mentioned to @willkg that I couldn't find runtests.py in the repo.  Sounds like this was left-over from the conversation to using tox and we probably want to update those references.

[2017-07-25 21:19] willkg commented on #163
`runtests.py` was removed in PR #105. It's referred to in `Makefile` and that's it now.

[2017-07-26 08:17] akatsoulas commented on #163
I opened this [PR](https://github.com/mozilla/mozilla-django-oidc/pull/164) although I am not sure if we should update the commands in the `Makefile` to use `django-admin` or completely remove them since we are using `tox` for the tests.

[2017-07-27 08:56] akatsoulas commented on #163
Fixed in #164

[2017-07-27 08:56] #163 closed

[2017-07-27 10:00] maikhoepfel commented on #149
@puiterwijk I didn't know - I really don't know my way 'round crypto. The patch looks great and thanks for reaching out - but I have since switched clients.

[2017-08-03 16:34] peterbe commented on #133
So there is now a *real* implementation of this in the wild. [Tecken does it](https://github.com/mozilla-services/tecken/blob/master/tecken/useradmin/middleware.py). It's a middleware that talks to the Auth0 Management API and finds the user and if the user is found **and** is `blocked==true` then it makes the user account inactive, calls `auth.logout(request)`, and immediately returns `403 Forbid

[2017-08-04 14:00] gdestuynder commented on #133
In general, I would still strongly encourage to use the user-agent redirect loop WITH setting the RP/app cookie expiration to the id token's expiration - that way you never have a situation where a session is incorrectly up (that's a rather bad security risk).
The API mainly allows apps that need to know about users asynchronously, ahead of time, etc. - in fact both can be used at the same time as

[2017-08-30 19:18] audrummer15 commented on #149
Any movement on this? I see the PR has stalled... This breaks Google's authentication as well

[2017-08-31 15:22] djmitche opened #166 "OIDC_STORE_ACCESS_TOKEN doesn't (and isn't documented)"
https://github.com/mozilla/mozilla-django-oidc/blob/02502ca99926493649beeab7a82cb8c8fc5144c2/mozilla_django_oidc/auth.py#L137-L138

This setting is undocumented, and seems to store the id_token, rather than the access token.  Is there a reason for that?  If not, do you mind a PR to fix it?

[2017-09-19 12:51] glogiotatidis opened #176 "Auth backend does not load Django's (model based) permissions"
`OIDCAuthenticationBackend` does not subclass neither implements it's own authorization methods. As a result django (model based) permissions get completely ignored.

I suggest that `OIDCAuthenticationBackend` subclasses `django.contrib.auth.backends.ModelBackend` can get Django's default authorization methods.

While this is not technically a bug, is un-expected behavior thus I suggest that we ch

[2017-09-19 12:56] glogiotatidis opened #177 "[docs] Do not suggest using OIDC Auth backend along with ModelBackend"
The installation example in the documentation lists both ModelBackend and OIDC backend

[code]

While this works, I believe that's a wrong security paradigm. If you have enabled OIDC you probably don't want ModelBackend enabled as well, as this can leave an open door for attacks outside the org's SSO system.

I suggest that docs urge users to only use the OIDC backend when enabled.

To allow users

[2017-09-19 14:04] johngian commented on #176
Thanks @glogiotatidis for the feedback. I agree that ``OIDCAuthenticationBackend`` should be self contained. That said except of the permissions we might want to ship a template to override the django admin user/pass to allow logins in cases no ``ModelBackend`` is not enabled.

[2017-09-23 18:06] woutor opened #178 "Get token with credentials in Authorization header"
Hi,

I am integrating mozilla-django-oidc with [Hydra](https://github.com/ory/hydra/). I have set up an authorization/consent server and I am able to initiate the OAuth flow using the  `mozilla_django_oidc.auth.OIDCAuthenticationBackend` at my application.

However, at the point that `OIDCAuthenticationBackend` wants to obtain the token, I get a 400 Client Error in Django, with Hydra logging `HTTP

[2017-09-27 14:00] jezdez opened #180 "Stop using python-jose"
Since python-jose is [requiring the use of pycrypto](https://github.com/mpdavis/python-jose/issues/41), which has an [unfixed CVE](https://blog.sqreen.io/stop-using-pycrypto-use-pycryptodome/) it'd be sensible to move away from it.

[2017-09-27 15:15] pmac opened #181 "Working perfectly!"
Just wanted to say that this lib helped me move two of our sites very quickly from SAML to OIDC. It was very easy and worked great. Just wanted to say thanks for your hard work!

[2017-09-27 15:15] #181 closed

[2017-09-28 20:50] codytodonnell commented on #149
Experiencing the same problem with my company's auth system

[2017-10-02 15:29] #149 closed

[2017-10-02 15:32] johngian commented on #180
What about using ``pycryptodome`` until we figure out an alternative for ``python-jose``?

[2017-10-02 18:10] jezdez commented on #180
@johngian I'm not familiar with the package, maybe @alex ([PyCA](https://github.com/PyCA) member and fellow Mozillian) may know how to proceed?

[2017-10-02 18:15] alex commented on #180
pycryptodome resolves that one specific CVE, but I haven't reviewed it any further and so I can't relaly make any claims one way or the other. In either case I'd strongly encourage finding a JOSE library that uses pyca/cryptography :-) (or porting python-jose to pyca/cryptography of course) -- I don't know offhand what exists in that space.

pycryptodome is still built on a lot of bespoke algorith

[2017-10-02 18:18] alex commented on #180
Quick follow up: certbot (the Let's Encrypt python client) has a JOSE implementation built on pyca/cryptography, I know Mozilla has several folks who are contributors to it, so turning this into a standaone library might be a good way to kill two birds with one stone :-)

[2017-10-02 19:15] johngian commented on #180
Here is the documentation for the API call that we need to use:
http://letsencrypt.readthedocs.io/projects/acme/en/latest/api/jose/jws.html#acme.jose.jws.Signature.verify

I will dive more into this. Thanks @alex

[2017-10-02 19:21] alex commented on #180
Sure thing -- fair warning, I don't think the certbot team considers that API to be stable. /cc @erikrose to confirm

Please let me know if there's any other way I can help.

[2017-10-02 19:46] erikrose commented on #180
I asked around. Since Kuba left the LE project, acme's API has been pretty stable; we also have other people using the lib, so we've been very cautious about breaking changes. acme v2 is coming, but I'm not sure of the timeline on that.

[2017-10-02 19:47] erikrose commented on #180
Also, bmw over at LE is also interested in having it broken out as a separate package, so you can expect good collaboration over there.

[2017-10-05 19:37] jezdez commented on #180
FYI, I've coordinated with LE people and will do the separate release of the acme.jose package. Anyone have a good name for the package?

[2017-10-09 15:28] tiran commented on #180
There are a couple of JOSE libraries for Python. https://github.com/latchset/jwcrypto is written by @simo5 and me. We are using it in a couple of applications related to FreeIPA / RHEL identity management.

https://github.com/jpadilla/pyjwt is another mature library but I haven't used it yet.

[2017-10-09 19:48] jezdez commented on #180
@tiran Hey there! I was wondering about that while researching alternatives but lacked the context. Do you recommend to convince ACME to adopt it? Or just for this use case?

[2017-10-11 18:43] jezdez commented on #180
Since I had already started the port, I've just finished it and released it on [PyPI as josepy](https://pypi.python.org/pypi/josepy).

[code](https://github.com/jezdez/josepy), [docs](https://josepy.readthedocs.io/en/latest/), [ci](https://travis-ci.org/jezdez/josepy).

I realize there is major overlap with jwcrypto (which I like more after looking at its API), but I feel going with the letsencryp

[2017-10-11 20:42] simo5 commented on #180
@jezdez jose implementations already were found multiple times to have sistemic widespread security issues, I would rather not recommend adding yet another implementation and instead work together with others on an existing one so that the maintenance burden is shared rather than spread thin over multiple code bases.
Use the implementation you prefer, but use an existing, maintained one please.

[2017-10-12 10:57] johngian commented on #180
@jezdez regardin security reviews:

In the past @claudijd had done some auditing for ``mozilla-django-oidc``.

[2017-10-12 12:38] jezdez commented on #180
@simo5 FWIW, the implementation that I released has been extracted from the [acme.jose](https://github.com/certbot/certbot/tree/232f5a92d193b1b4a955d0d5f2d1ea639215331d/acme/acme/jose) package by the letsencrypt folks and is not a new one. Why they chose to write their own I'm not sure (maybe @bmw knows?) but while researching a library I've found no clear statement that jwcrypto has a higher chan

[2017-10-12 12:39] alex commented on #180
We've contemplated it before, at a very high level, but never done any work towards it or thought about the details.

[2017-10-12 16:58] bmw commented on #180
We haven't really thought about it as our `acme.jose` module was written a while ago and requires very little maintenance for usage of it. While switching to something new wouldn't be a high priority for us, we'd happily change to a well maintained third party library in the long term if it worked well for us.

[2017-10-12 17:19] bmw commented on #180
Whoops. Just saw this:

I don't know for sure. The developers who made that decision are unfortunately no longer involved in the project. I'll ask around (and if I learn anything definitive I'll post back), but I suspect the issue was lack of available third party libraries at the time. We started working on our JOSE implementation in 2014, before many of the other libraries mentioned in this thre

[2017-10-19 07:42] GermanoGuerrini opened #187 "Improvements to verify the token through the jwks"
Currently, the only way to verify a token using the RS256 algorithm is to hard-code the signing key in a settings parameter.

I'm not really an expert here, but I have seen other implementations (not in Python) that take advantage of the (possible) JWKS endpoint of the identity provider. Documentation can be found here: https://auth0.com/docs/jwks.

I have a local branch of mozilla-django-oidc whe

[2017-10-24 07:25] #180 closed

[2017-10-24 17:01] peterbe opened #189 "TypeError on sending payload to josepy (py 3.6)"
I just tried to upgrade to mozilla-django-oidc 0.4.0 and it meant I had to add `josepy==1.0.0` and `pyOpenSSL==17.3.0`.

[code]

[2017-10-24 17:03] peterbe commented on #189
@willkg @akatsoulas @johngian Seen this already?
I'm a bit surprised our tests didn't catch this. Perhaps there was a rush to switch to josepy.
I can attempt a patch to this today.

[2017-10-24 17:08] peterbe commented on #189
`jws.Header.from_compact` [expects a byte string](https://github.com/jezdez/josepy/blob/f8b3c058fa1ba91b19f828c9c32cb0ef752ca4cf/src/josepy/jws.py#L301) but in `auth.py` we're sending it a unicode string.

[2017-10-24 17:36] peterbe commented on #189
Just making it a byte string wasn't hard but now I run into this:
[code]

Perhaps @jezdez should have a look at this issue.

[2017-10-24 17:44] johngian commented on #189
Yeah i am surprised this went through the tests. I've only tested with a python 2.7 project and everything went smoothly. In the future, we should test with a python 3 env as well.

[2017-10-24 18:03] peterbe commented on #189
If I apply this diff,
[code]
to `mozilla_django_oidc/auth.py` I can log in again using 0.4.0.

[2017-10-25 09:04] johngian opened #191 "Add automation to do integration testing"
At the moment our testing infrastructure relies only in unit tests. We should have a way to actually test the authentication backend against an django project.

I suggest the following:

* Use a self hosted oidc provider
  * Possible candidate: https://github.com/juanifioren/django-oidc-provider
* Install mozilla-django-oidc to a test app (that supports multiple python versions)
* Orchestrate inte

[2017-10-25 11:55] willkg commented on #191
This is related to issue #63. Solving one probably helps solve the other.

[2017-10-25 13:54] #189 closed

[2017-11-01 09:45] jezdez commented on #126
Ugh, this is kind of a bummer, this should at least be an option. The linked Stackoverflow post is first of all old and second of all about Chrome.

[2017-11-01 11:23] peterbe commented on #126
I looked but didn't find any good solid best practice article that pronounces it. I thought it was generally known as best practice and haven't stopped to think about it ever since.

It's easier to trick logged in users to get them logged out. Which is annoying but not really a security thing.

I'd be up for an option to override it to *not* require a POST.

[2017-11-02 16:29] zhangyile opened #193 "can i customize the configuration of 'redirect_uri' ?"
Because I forwarded the request through nginx, I need to customize ‘redirect_uri’
#### mozilla_django_oidc/views.py

    125         params = {
    126             'response_type': 'code',
    127             'scope': import_from_settings('OIDC_RP_SCOPES', 'openid email'),
    128             'client_id': self.OIDC_RP_CLIENT_ID,
    129             'redirect_uri': absolutify(
    130

[2017-11-17 19:44] markmiscavage opened #198 "Error trying to verify jwk."
I'm using this package to integrate with a 3rd party OIDC and getting this error during oidc callback.

AttributeError at /oidc/callback/
'str' object has no attribute 'verifier'

The offending line ` if not jws.verify(jwk): ` in auth.py seems like it has been updated fairly recently in this package. Nothing in the josepy package relating to this seems to have been updated in the last 2 years or m

[2017-12-06 14:08] johnpaulett opened #199 "Under Python 2.7/3.5, whl depends upon cryptography<1.9"
Still investigating, but my guess is that the whl is being built with Python 3.2 or Python 3.3, causing the whl's METADATA to pin to the old version of crypotography (1.8.2), but the latest PyOpenSSL (17.5.0) requires cryptography>=2.1.4.  This is causing an issue for me due to a custom setup.py `console_scripts`, since `pkg_resources.load_entry_point` verifies the version compatibility and mozill

[2017-12-06 17:48] gdestuynder opened #200 "Change variable name `mozilla_django_oidc.middleware.RefreshIDToken` to something else"
Kind of a nitpick, however, `RefreshIDToken` is a confusing name because refresh tokens are a very specific thing: non-expiring access tokens.
In this case, this is the opposite, its a token that expires and needs periodic refresh.

[2017-12-06 17:52] willkg commented on #200
What's a better name for this?

[2017-12-07 16:35] gdestuynder commented on #200
I usually call is `SessionRefresh` though there may be better/more fitting names.

[2017-12-07 16:44] willkg commented on #200
I'll do a PR now.

[2017-12-07 17:25] willkg opened #201 "support django 2.0"
I removed `.tox` and then ran `tox` and got a bunch of failures:

[code]

I think there are a couple of problems here.

First is that Django 2.0 doesn't support Python 2.7, so that tox environment should get nixed.

Second is that Django 2.0 doesn't have a `django.core.urlresolvers` so that should get fixed. Plus it looks like we have a django111 tox environment that's installing the wrong version

[2017-12-07 17:29] willkg opened #202 "drop support for django 1.10"
https://www.djangoproject.com/download/#supported-versions

Django 1.10 is no longer supported, so we should drop support for it, too.

[2017-12-07 17:43] willkg commented on #200
Django 2.0 released recently and mozilla-django-oidc tests are failing. Once #203 lands, I can work on this.

[2017-12-14 09:27] nfvs opened #204 "Exception when calling /oidc/callback"
Using Microsoft's servers triggers this exception:
[code]

Running in python 3.6, using these versions:
[code]

[2017-12-14 13:37] nfvs commented on #204
After some debugging I see the module retrieving a RS256 JWT from Microsoft, but then trying to verify it with the provided client secret, which of course will fail:

https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/auth.py#L123

Even without this check, it eventually fails when comparing the JWT's alg (RS256) with `OIDC_RP_SIGN_ALGO`, which is HS256 by default.

Mayb

[2017-12-15 18:41] johnpaulett commented on #204
I'm running into this exception as well using Auth0.  Looks like #198 is the same issue.

[2017-12-20 00:45] brat000012001 commented on #198
I am running into the same issue.  My settings.py has the following oidc variables defined:
[code]
The callstack is shown below:
[code]

[2017-12-20 00:58] johnpaulett commented on #198
I have not finished investigating, but I was having this issue with Auth0 when it returned an RS256 token, but I was using the default HS256 in `OIDC_RP_SIGN_ALGO`.  Changing to OIDC_RP_SIGN_ALGO to RS256 and creating a PEM version of the signing key seemed to resolve it.  I have not yet tried changing the signing algorithm in the Auth0 control panel.

@brat000012001 are you sure you are getting a

[2017-12-20 01:27] brat000012001 commented on #198
@johnpaulett Yep, I can confirm that changing SIGN_KEY to a properly formatted PEM public key got me further, i.e. I am no longer getting the aforementioned exception. I am still having issues with getting the user properly (the statement {% if user.is_authenticated %} returns false even after what appears to be a successful login), but at least I am not crashing in callback.

[2018-01-23 18:00] johnpaulett commented on #199
With the 0.5.0 release this issue appears to be resolved. Thanks

[2018-01-23 18:00] #199 closed

[2018-01-31 16:58] #202 closed

[2018-01-31 16:58] #201 closed

[2018-01-31 16:59] johngian commented on #191
Fixed after #205

This allows devs to run e2e tests locally and adds circleci support.

[2018-01-31 16:59] #191 closed

[2018-01-31 17:01] johngian commented on #63
I gave a ``docker-compose`` based setup a run here #205
You can find more information in ``README``.

Closing this for now. Let's reopen it in the future if the setup needs more work.

[2018-01-31 17:01] #63 closed

[2018-02-09 11:04] johngian commented on #198
I think that the issue here was mainly caused because:

* The docs don't explain in detail how to configure RS-based RPs
* At some point we changed the way we configure RS-based credentials because we switched to ``josepy`` which required a PEM formatted key.

For end-to-end testing we are using a ``testrp`` docker image which is pretty much a test django app with ``mozilla-django-oidc`` as authen

[2018-02-09 11:36] #177 closed

[2018-02-09 16:50] markmiscavage commented on #198
Yes, a better example should help quite a bit.

I was ultimately able to get my implementation of this project working, it just took some extra communication between myself and the OIDC provider I was authing with to figure out the correct set of settings we needed.

[2018-02-10 19:09] edmorley commented on #133
In case it helps anyone looking at this issue in the future - Treeherder (which is a ~SPA with a django-rest-framework API backend) has just switched to Auth0 and uses the following hybrid approach (for reasoning [see here](https://bugzilla.mozilla.org/show_bug.cgi?id=1395356#c8)):
* the login redirect/callback is handled entirely by the SPA (using a public Auth0 client) - with the Auth0 user sess

[2018-02-12 18:34] gdestuynder commented on #133
SPAs with implicit flow are regardless of this less safe and not recommended. An XSS can extract data from localStorage and effectively get access to the id token for example.

All in all it's not my favourite security vs development usability trade-off - specially if you already have server side components (django)

[2018-02-12 19:25] edmorley commented on #133
Taskcluster team's decision as to how we use their tokens, not ours fwiw

[2018-02-14 17:24] claudijd commented on #133
FWIW, @gdestuynder's point on JS access to LocalStorage and the outcome when we have an XSS is well founded.  Here's a taskcluster example from a few years ago => https://bugzilla.mozilla.org/show_bug.cgi?id=1255147.  Essentially, you're putting a lot of trust that there will never be an XSS issue.  You can increase confidence with CSP, but to me, it still feels unsafe to put secrets in LocalStora

[2018-02-14 19:47] peterbe commented on #133
I too worry about web storage (local storage and session storage). Seems the best approach is to use cookies with `httpOnly` and make sure you require XSRF protection in the server you're using. mozilla-django-oidc and Django gets this right. Django also have an out-of-the-box session storage solution so you don't even need to put the JWT in the cookie (also the HTTP headers potentially a lot smal

[2018-02-14 19:47] peterbe commented on #133
I too worry about web storage (local storage and session storage). Seems the best approach is to use cookies with `httpOnly` and make sure you require XSRF protection in the server you're using. mozilla-django-oidc and Django gets this right. Django also have an out-of-the-box session storage solution so you don't even need to put the JWT in the cookie (also the HTTP headers potentially a lot smal

[2018-02-15 02:44] bostrick commented on #198
I think the problem here is really in josepy....

https://github.com/certbot/josepy/blob/master/src/josepy/jwk.py#L107

[code]

where, despite the function description above it to the contrary, if it can't load the data as a public key it dubiously falls back to loading it as a symmetric key, which should always "work" but often not meaningfully.

Subsequent mozilla-django-oidc code then treats th

[2018-02-15 10:57] ar-anvd commented on #198
Same problem here with google server. There is some workaround?

[2018-02-22 08:35] Bartvds commented on #187
Any word on this? We've got to use Gigya as IDP and they also use RS256 with JWKS.

[2018-02-22 12:01] GermanoGuerrini commented on #187
@Bartvds There's a pull request https://github.com/mozilla/mozilla-django-oidc/pull/196 if you want to give it try.

[2018-02-23 15:31] pmac commented on #153
Seeing this on basket as well.

[2018-02-23 17:39] peterbe commented on #153
`error` and `error_description` aren't particular oidc specific so you couldn't do something like `if request.GET.get('error') and request.GET.get('error_description')` in the middleware.

I too think the right thing to do is to have a another URL to redirect to that is not `/` and then the RP is responsible for making such a page. And the middleware should then do something like `if settings.RP_E

[2018-03-16 12:30] peterbe commented on #204
@gdestuynder Can you help out here. You helped me with this by changing something about the key in Auth0's config. I was getting a similar error, and you you changed something it started to work.

[2018-03-16 12:31] peterbe commented on #176
Since https://github.com/mozilla/mozilla-django-oidc/pull/183 is merged now. Can this be closed?

[2018-03-16 12:35] johnpaulett commented on #204
I believe the exception is masking the fact that the Provider is returning an RS256 token, but mozilla-django-oidc, by default is looking for an HS256 token.  I was able to get to work by either configuring my provider to return HS256 or configuring mozilla-django-oidc to use RS256 (that took a bit more work).

[2018-03-16 12:40] johngian commented on #176
Yes, thanks @peterbe

[2018-03-16 12:40] #176 closed

[2018-03-16 14:06] peterbe commented on #70
@johngian You closed https://github.com/mozilla/mozilla-django-oidc/issues/149
Can this be closed too?

[2018-03-16 14:07] peterbe commented on #200
@willkg Gentle poke here that https://github.com/mozilla/mozilla-django-oidc/pull/203 is now merged.

[2018-03-16 14:08] willkg commented on #200
Oo--I'll try to do this by the end of the month. Thank you for the ping!

[2018-03-16 14:11] peterbe commented on #133
This issue has gotten out of hand. Let's reign it back in.

If you use the "code grant" (i.e. the OIDC server redirects to your *server* with a code) then `mozilla-django-oidc` is it and it's wonderful.
If you want to use the "implicit grant" (i.e. single page app without a Django server to send a code to) then you won't be using `mozilla-django-oidc` and it's technically a non-issue for this proj

[2018-03-16 14:55] peterbe opened #210 "Unable to generate docs locally"
I created a new vitualenv (based on 3.6) and pip installed `Sphinx`. Then tried to run `make docs`:

[code]

What should I set the `DJANGO_SETTINGS_MODULE` to and how do you build the docs locally?

[2018-03-16 16:41] peterbe commented on #204
Making the choice of 'HS256' vs. 'RS256' is subtly part of this: https://github.com/mozilla/mozilla-django-oidc/pull/179
That PR is about rearranging the existing so it's easier to override the algorithm choice in a subclass. Do you think that PR has legs?

[2018-03-16 22:27] gdestuynder commented on #204
what johnpaulett said :)

[2018-03-19 16:36] peterbe commented on #204
@nfvs You *can* change the algorithm by setting `OIDC_RP_SIGN_ALGO`. Changing that, does that solve your problem?

If that turns out to be true, the error is a horrible way to figure out what's wrong. Ideas to solve that?

[2018-03-19 16:48] peterbe commented on #153
This is likely to be very related: https://github.com/mozilla/airmozilla/issues/827#issuecomment-374274903
What happened there was that I was logged in (thank you django session cookies) but since my `oidc_id_token_expiration` has expired so mozilla_django_oidc redirects me to `/authorize?...&prompt=none` which then errors out and redirects back to `/oidc/callback` which redirects to `/login-failu

[2018-03-19 16:49] peterbe commented on #153
@johngian Please review this last comment. I think it's important. [Airmozilla](https://github.com/mozilla/airmozilla/issues/827) is currently busted at the moment and lots of people can't log in to view private videos without manually clearing their cookies.

[2018-03-20 09:35] nfvs commented on #204
@peterbe after some debugging sessions I eventually reached that conclusion as well :-) However changing the algo merely triggered another problem so I ended up using something else. Feel free to close this if you think this is working properly.

[2018-03-20 11:07] #204 closed

[2018-03-20 15:25] tpazderka commented on #102
Would it be possible to create a mapping model connecting `sub` claim with `UserModel`?

Matching users by `sub` should be more safe and reliable than matching by `username` or `email`.

[2018-03-21 12:42] willkg commented on #102
@tpazderka Can't you do that already? https://mozilla-django-oidc.readthedocs.io/en/latest/installation.html#connecting-oidc-user-identities-to-django-users

[2018-03-21 12:42] #19 closed

[2018-03-21 12:57] tpazderka commented on #102
Not without adding the `sub` to your user model. What I had in mind is a model in mozilla-django-oidc that would keep the mapping between user and received sub.

[2018-03-21 13:21] akatsoulas commented on #210
I am getting a few warnings but the build runs successfully. I tried this in a clean virtualenv with python3.6 and only sphinx installed via pip. The only way that I managed to get an error for the `DJANGO_SETTINGS_MODULE` is when I deactivated the venv. Is there any possibility to be the same case here?

[2018-03-21 15:13] peterbe commented on #102
@tpazderka I *think* what you're proposing that mozilla-django-oidc adds a model that looks something like this:
[code]
Then you can quickly turn the `sub` (from the claim) into a user. But it's **out of scope**.

This issue is about finding that `User` instance in the first place. To do that there are a couple of things:

1. mozilla-django-oidc could do a better job matching by email (will is goi

[2018-03-21 15:25] tpazderka commented on #102
@peterbe Yes, this is exactly what I had in mind. Issues with matching by email are multiple (the field can be blank and not unique) so I thought that adding `sub` as a default matching method in `OIDCAuthenticationBackend` would be a good generalization method.

But if you think it is out of scope, we will manage it in our own implementation.

[2018-03-21 15:42] peterbe commented on #210
What did you set `DJANGO_SETTINGS_MODULE` to before you ran `sphinx`?

[2018-03-22 11:07] akatsoulas commented on #210
I managed to reproduce this after recreating the venv. I opened #214 which add the tests settings in the Sphinx conf.

[2018-03-26 15:40] willkg commented on #102
@peterbe That makes sense to me and I think it covers my concerns. I'm going to close this out. If there are new issues that are "in real life" and less hypothetical, we can address them in a new issue.

[2018-03-26 15:40] #102 closed

[2018-03-27 14:34] johngian opened #215 "Add middleware to force OIDC in specific URLs"
After a discussion with @glogiotatidis it looks like it might be useful to have a way to force OIDC authentication in specific site URLs. The reason behind it is that there might be projects that use multiple authentication backends but for security reasons they want to force OIDC in high risk endpoints (aka /admin).

An idea could be to ship a middleware with ``mozilla-django-oidc`` that forces O

[2018-03-27 14:36] glogiotatidis commented on #215
See also https://github.com/mozilla/kitsune/pull/3152/files

[2018-03-28 15:27] glogiotatidis commented on #215
We got this working in https://github.com/mozilla/kitsune/pull/3156

This can be generalized by using a setting like ENFORCE_OIDC_URLS instead of hardcoding `/admin` there.

[2018-03-29 11:48] akatsoulas commented on #153
This should be resolved after #213.

[2018-03-29 11:48] #153 closed

[2018-03-29 11:49] #20 closed

[2018-03-29 11:50] #21 closed

[2018-04-12 12:42] peterbe opened #217 "OIDC_OP_LOGOUT_URL_METHOD is not documented"
`OIDC_OP_LOGOUT_URL_METHOD` is not mentioned anywhere in the documentation.

[2018-04-12 12:48] peterbe commented on #217
@johnpaulett Would you mind taking a look at this one?

[2018-04-13 12:12] #217 closed

[2018-04-13 12:12] johngian commented on #147
Fixed after #218

[2018-04-13 12:12] #147 closed

[2018-04-13 12:51] johngian commented on #150
I think its safe to close this now:

RTD builds

* ``master`` version from ``master`` branch
* ``stable`` version from latest tag
* Keeps history of all the tags as different versions

[2018-04-13 12:52] #150 closed

[2018-04-13 18:05] peterbe commented on #107
Feel like it's too late now anyway.

[2018-04-13 18:05] #107 closed

[2018-04-17 14:30] tpazderka opened #220 "Pass current_app kwarg to reverse in OIDCAuthenticationRequestView"
Currently it is not possible to add `mozilla_django_oidc` authentication to namespaced apps as the reverse for `redirect_uri` in `OIDCAuthenticationRequestView.get` will fail.

~~This would become possible with passing `current_app=request.current_app` to `reverse`.~~
`request.current_app` might not be a good solution... Maybe implement a `get_redirect_uri` method?

[2018-04-19 15:27] #220 closed

[2018-04-20 14:44] ziima opened #222 "OIDCAuthenticationBackend captures authentication which doesn't belong to it"
Calling `authenticate(request=request, my_kwarg=my_value)` with `OIDCAuthenticationBackend` in `AUTHENTICATION_BACKENDS` results in `SuspiciousOperation`. `OIDCAuthenticationBackend` shouldn't care about authentication, if the arguments doesn't match it's signature.

[2018-04-23 11:54] tpazderka opened #224 "OIDCAuthenticationCallbackView.success_url ignores session value"
Because `OIDCAuthenticationCallbackView.success_url` is called only after `auth.login`, the session is already cycled and user is redirected according to settings instead of URL stored session.

[2018-04-23 12:52] tpazderka commented on #224
Nevermind, the `OIDCAuthenticationCallbackView` actually rewrites any saved values with its own from request...

Maybe consider not replacing values already in session?

[2018-04-25 09:46] ziima commented on #222
Fixed by #226. Thanks

[2018-04-25 09:46] #222 closed

[2018-04-25 10:02] #200 closed

[2018-04-25 14:32] tpazderka commented on #224
My original idea was to have the link with login URL without the `next` value and save the `oidc_login_next` to session myself in the view logic. This of course gets overwritten in the `OIDCAuthenticationCallbackView`.

This seemed counterintuitive to me so I raised this issue.

My idea was to not overwrite the value in session if there is already something. This would allow the implementator to c

[2018-04-25 14:51] johngian commented on #224
Cool, thanks for the clarification, now it makes sense. I was missing the part that you manually changed the ``oidc_login_next`` in your view logic.

[2018-04-25 14:54] tpazderka commented on #224
Yeah, sorry for the confusion :) The issue was evolving as I was experimenting with something...

[2018-04-27 00:51] jschwartzentruber commented on #198
I had this with auth0 too. I got the the base64 DER cert from https://example.com/.well-known/jwks.json and got the public key as a PEM from openssl (`openssl x509 -inform der -in cert.der -pubkey`) and added this in `settings.py`:
[code]

[2018-04-27 12:31] NorthCat opened #227 "Is it possible to use mozilla-django-oidc together with Django REST framework?"
Is it possible to use mozilla-django-oidc together with Django REST framework?
If so, please give detailed instructions.

[2018-05-07 13:49] anlutro commented on #227
I'm pretty sure this is not currently possible, but it would be a great addition.

Here's the DRF docs on how to implement an authentication backend: http://www.django-rest-framework.org/api-guide/authentication/#custom-authentication

Basically you just need an `authenticate(self, request)` method which returns the user model + arbitrary(?) authentication information based on the request (by look

[2018-05-07 17:04] johngian commented on #198
Closing this one after #229

We added some more documentation when using RS-based signing algorithm and we now also support using JWKS endpoint to receive the key which probably make it easier to integrate.

[2018-05-07 17:04] #198 closed

[2018-05-08 09:42] codiebeulaine opened #230 "New Release 0.7.0"
Pretty please can we have a new release? We really need features that are in this commit
68a6d67

[2018-05-08 10:14] johngian commented on #230
We are pushing a new release after #179 which is almost ready to be merged (need to resolve some merge conflicts first and its done).

[2018-05-08 11:29] codiebeulaine commented on #230
Awesome, thanks

[2018-05-08 12:40] willkg commented on #230
The next release should be 1.0.0 since it's got backwards incompatible API changes. We should fix the summary of this issue accordingly.

[2018-05-08 12:53] johngian commented on #230
Yup, version is already bumped in master:
https://github.com/mozilla/mozilla-django-oidc/commit/3bf63ffb61b2121f42f1260a66f8fcad25a9842d#diff-6240ee83135f7d83b6812ff427f16fb6R1

[2018-05-09 14:47] johngian commented on #193
The redirect URI is configurable using this config entry:

http://mozilla-django-oidc.readthedocs.io/en/stable/settings.html#OIDC_AUTHENTICATION_CALLBACK_URL

You can define a URL to your project ``urls.py`` and set this config value to that URL pattern name.

[2018-05-09 14:47] #193 closed

[2018-05-22 11:41] cobusc opened #235 "Refactor of class constructors (in support of multi-site applications)"
I am working on a project where we want to support multiple sites from a single Django instance. The `sites` framework is used. In order to support multiple OIDC clients, I had to subclass most views and override methods to set the `CLIENT_ID` and `CLIENT_SECRET` based on the applicable site.

For some views (https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/views.py#L

[2018-05-24 09:56] rackmuthu opened #236 "Mozilla django odic is does not use default refresh token and"
I am using keycloak for single sign on and also single sign out. And i try to connect django application to keycloak through the mozilla-django-oidc.

My django application is working good to single sign on concept. But when comes to single sign out, i am forced to manually configure OIDC_RENEW_ID_TOKEN_EXPIRY_SECONDS parameter in settings.

In my case, the keycloak have the generic expire time va

[2018-05-28 12:33] ziima opened #240 "Login failure with no information"
When login fails and a response is returned using `OIDCAuthenticationCallbackView.login_failure`, at least an `info` level log should be produced and a message should be generated for user to inform him about an error.

[2018-06-06 13:10] rackmuthu opened #243 "How to access the role and permission of logged in user"
I have keycloak (SSO provider). here i am have idea about how to access the role and permission of the logged in user

[2018-06-06 15:17] Algogator opened #244 "Login fails after authorizing user"
[06/Jun/2018 17:13:09] "GET /oidc/callback/?state=lY57giXxu5WWd4s1OqDYHXlOG4pUhEZm&code=3925eb48-e352-4ba8-a165-aa91fe709662_9dK5ps3XQM_HGTP1J4LA7IX_rViZbVGT HTTP/1.1" 302 0
[06/Jun/2018 17:13:10] "GET /oidc/callback/ HTTP/1.1" 302 0

The site is redirected to the login failure url after authorizing the user

`

[2018-06-07 08:24] ziima opened #245 "Drop conditional cryptography version"
`mozilla-django-oidc` forces `cryptography<1.9` to be used under python 2.7, which does not make any sense. Cryptography still supports the python 2.7 and there is no reason to keep it back.

[2018-06-07 09:40] ziima opened #246 "A cryptic exception is raised if get_token returns error"
If during the authentication backend's `get_token` method returns error, such as
[code]
the authentication ends up in a cryptic exception
[code]

It looks like, the results of `get_token` are always expected to be valid and are not checked for errors.

[2018-06-07 14:13] Algogator opened #247 "alg should be optional"
An error is thrown if the RSA key doesn't have it

https://imgur.com/a/LZiDZ9f

[2018-06-08 18:07] gavinwahl opened #248 "SessionRefresh middleware is not usable with other authentication backends"
My project allows both oidc authentication and regular django username/password authentication. Everything works great except for SessionRefresh middleware, which is redirecting my normal users through the oidc process. I think that the only thing need to fix this is to not try to refresh the token if oidc_id_token_expiration is not in the session. I tried that and it works, but there is a test ca

[2018-06-08 18:33] gavinwahl commented on #248
I would suggest this patch to fix the issue:

[code]

[2018-06-08 18:38] gavinwahl commented on #240
It would be nice to pass the failure information to LOGIN_REDIRECT_URL_FAILURE so we can show specifically what went wrong to the user.

[2018-06-11 10:13] ollamh opened #249 "Unsecured JWT check is failing"
# Problem
We have an identity provider which doesn't sign tokens (and to my surprise it's legal `https://tools.ietf.org/html/rfc7519#section-6`), so, the token looks like
[code]
and this causing the error:
[code]
# Expected behavior
IMHO, the token should pass the check (since no signing information has been given) and maybe log a warning about the token not being signed. Or maybe it would be even

[2018-06-12 23:28] johngian commented on #187
Closing this one after #229

[2018-06-12 23:28] #187 closed

[2018-06-12 23:29] #178 closed

[2018-06-12 23:46] johngian commented on #245
This was only happening for ``2.7 < python <= 3.3``.  That said we dropped support for these python versions so it's safe to add cryptography directly to requirements.

Fixed here:
https://github.com/mozilla/mozilla-django-oidc/pull/250

[2018-06-12 23:46] #245 closed

[2018-06-13 01:03] johngian commented on #247
We should allow alg check to be optional since the spec allows it.
https://tools.ietf.org/html/rfc7517#section-4.4

[2018-06-14 09:29] tpazderka opened #253 "OIDCAuthenticationBackend.authenticate doesn't handle error responses"
Server response: ```{"error_description": "Access Code already used", "error": "access_denied"}``` on token endpoint causes an unhandled exception ```Deserialization error: Compact JWS serialization should comprise of exactly 3 dot-separated components``` in ```verify_token```.

An error response should be expected and cause a simple login failure.

[2018-06-19 14:23] johngian commented on #227
Fixed after #231

[2018-06-19 14:23] #227 closed

[2018-06-25 07:17] tpazderka commented on #253
Duplicate of #246

[2018-06-25 07:17] #253 closed

[2018-07-06 21:03] ahmetkucuk commented on #247
I am having similar issue on Azure AD.

[2018-07-19 12:03] vitorcarareto commented on #244
I'm exactly with the same problem...

On views.py, line 81, it enters this condition:
[code]

What can I do to get the session with 'oidc_state', so that it doesn't fail?

[2018-07-19 15:37] Algogator commented on #244
I think I was missing the session middleware

[2018-07-20 01:46] vitorcarareto commented on #244
Did you solve the problem?
Could you please post your middlewares list, so that I can see the order you used?

[2018-07-20 19:27] joshnewlinatclearobject opened #257 "Changing OIDC_AUTHENTICATION_CALLBACK_URL to https url"
Hey,

Currently, the auth callback url that is being generated is routing to `http://...`. I would like to change this to `https://...` so we can run my application in an iframe on a secure site. I've attempted setting the `OIDC_AUTHENTICATION_CALLBACK_URL` to the same url it generates, with just `https` instead of `http`.

The problem is that I'm receiving a `NoReverseMatch at /oidc/authenticate/

[2018-07-24 07:47] johngian commented on #257
Hey @joshnewlinatclearobject! Regarding securing your website with SSL, what's your current setup? I common way to setup HTTPS in Django is to do SSL termination with a load balancer in front of your website.

Can you provide some more context to see how I can help?

[2018-07-26 15:16] joshnewlinatclearobject commented on #257
Hey, thanks for the reply. I've since fixed this issue with a simple nginx config, instead of using the `OIDC_AUTHENTICATION_CALLBACK_URL` variable. For any people potentially having this same issue in the future, all it took was this line in my nginx config:

`proxy_redirect / https://$host/;`

[2018-07-26 17:05] johngian commented on #257
Cool, thanks for the feedback @joshnewlinatclearobject
Usually SSL related stuff are handled in a different level (reverse proxy, load balancer, ssl termination) same way you've figured this out.

Closing this issue.

[2018-07-26 17:05] #257 closed

[2018-07-26 17:07] #247 closed

[2018-07-26 17:39] johngian commented on #248
Fixed after #259

[2018-07-26 17:39] #248 closed

[2018-07-30 14:34] johngian opened #261 "Remove legacy code to detect secure connections"
In Django 1.11+ we can use ``request.is_secure()`` to check if a request is being done using https. We have some compatibility code that can be cleaned up here:

https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/views.py#L113

Since we don't support Django < 1.11 we can simplify the code.

[2018-07-30 15:02] johngian commented on #246
Also it would be really useful if you could provide a traceback to be able to triage this issue.

[2018-07-30 15:52] johngian commented on #243
I am not familiar with keycloak specifically but it should return claims in this format:
http://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

There you can either use the default strategy which matches users based on email or override these 2 methods for custom functionality:

https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/auth.py#L68
https://githu

[2018-07-30 15:52] #243 closed

[2018-07-30 17:20] johngian commented on #236
Hey @rackmuthu! The config value ``OIDC_RENEW_ID_TOKEN_EXPIRY_SECONDS`` is used for the session refresh middleware [1]. Is that what you are referring to as well?

What is the expected behavior you are proposing ?

[1] https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/middleware.py#L41

[2018-07-31 21:52] gavinwahl commented on #240
I think messages is a good way to handle this. I didn't think of that before.

[2018-08-01 08:37] ziima commented on #240
@peterbe I didn't mean to dump the exception or the server response, that should go into log. But to inform user that there is an error in communication with server, I consider necessary.

[2018-08-01 13:04] ziima commented on #246
@johngian OK, the problem was on our server. The error response was incorrectly returned with HTTP status code 200.

Anyhow, the processing of the responses from the unknown server should be more robust and expect malformed responses, which should not lead to Server error. It seems the major problem is that code proceeds even when the token can't be extracted from the response, which eventually le

[2018-08-01 14:05] peterbe commented on #240
Can we add more information to the `login_failure` "view callback"? Then, if someone wants to deal with it they can write their own. For example, people who use the `messages` framework can push a message into that.

[2018-08-01 14:18] ziima commented on #240
I consider `messages` to be sort of default application, but as I can see, it's not yet used in `mozilla_django_oidc`. If you don't want to create the message directly, then providing arguments with error details would be enough. In any case, some logging should be added, preferably not in the `login_failure` view.

[2018-08-01 15:17] johngian commented on #240
Regarding messages, personally I believe that it's not a good paradigm to force UI elements that are not easily predictable (like messages) in a third party app like mozilla-django-oidc.

I am leaning towards providing with arguments with the error details as well so people can handle the notification however they like. Thanks  @ziima @peterbe for the feedback.

[2018-08-01 17:09] johngian commented on #261
Sure. Assigning this to you.

[2018-08-04 16:04] drejkim opened #265 "Django REST framework integration issues"
Hi, I'm currently trying to get the Django REST framework integration working and get this when I access my API (using the browsable API):

[code]

Here's what the relevant (I think) sections in `settings.py` look like:

[code]

Is there anything else that I should be configuring? Any help would be appreciated.

Also, for reference, using Python 3.6.5 with the following versions for Django, etc.:

[2018-08-07 18:02] robhudson opened #266 "is_safe_url() got an unexpected keyword argument 'host' (Django 2.1)"
In the [Django deprecation timeline](https://docs.djangoproject.com/en/dev/internals/deprecation/#deprecation-removed-in-2-1), the `host` parameter to `is_safe_url` was removed. This project currently passes `host` to determine the `next` url, breaking support for Django 2.1.

[2018-08-09 13:19] #266 closed

[2018-08-09 13:44] #261 closed

[2018-08-11 15:37] drejkim commented on #265
I think I figured it out... need to use session authentication for the browsable API. Similar to this [issue](https://stackoverflow.com/questions/35601130/django-rest-framework-using-tokenauthentication-with-browsable-api).

[2018-08-11 15:37] #265 closed

[2018-08-15 09:24] TeriForey opened #272 "Missing HTTP auth headers in REST request"
Hi, I've got the OIDC authentication working for login/logout but when I try to combine this with my  REST API I get this error returned: "Authentication credentials were not provided". I've followed the instructions and have added the authentication class to the REST_FRAMEWORK settings and it seems to be picking it up okay. From what I can work out, it fails when it tries to find the access token

[2018-08-29 15:26] jschwartzentruber opened #276 "Unclear how to redirect back to desired URL after completing login."
When I request /app/index on our domain, I am redirected to auth0, authentication completes, and I'm redirected back to our domain, but at / instead of /app/index.

I do have `LOGIN_REDIRECT_URL = '/'` in settings.py, but I understood that to be where an explicit login request would go, I thought an implicit login redirect would continue at the original url. Is that wrong?

I'm guessing this is a

[2018-09-10 23:04] chrisbrantley commented on #276
I struggled with this as well. Is your site using HTTPS?

There are a couple things that need to happen for the redirect to work:
1. the redirect URL needs to be in the `next` query param in the initial redirect to the login view. I believe this happens automatically if you're redirected to login but you'll need to do it yourself if you're creating a login link.
2. The redirect URL itself needs to

[2018-09-18 12:39] bpereto commented on #244
I'm expecting the same issue as described by @vitorcarareto
https://github.com/mozilla/mozilla-django-oidc/issues/244#issuecomment-406252387

My Testsetup:
* Session Middleware is included.
* OIDC_VERIFY_SSL=False
* localhost:8000 is my oidc provider (django-oidc-provider)
* localhost:9000 is the client (mozilla-django-oidc)

[2018-09-18 18:42] bpereto commented on #244
Ok, got it.
django login clears the session of the same domain. Since its localhost, it clears also the session storage of the "client" (mozilla-django-oidc).

it works fine when running separate:
* 127.0.0.1:8000
* 127.1.1.1:9000

[2018-10-16 10:32] pbelmann opened #280 "automatic client configuration"
First, thanks for the great work you did with this plugin!
It would be useful for OIDC clients to be automatically configured by referencing the configuration stated in a well known file which is also defined by the OIDC [spec](https://openid.net/specs/openid-connect-discovery-1_0.html)

We had the issue that a provider accidentally changed jwk configuration and our client could not verify the sig

[2018-10-18 14:31] jschwartzentruber commented on #276
Thanks!  1. was the issue.

We have a view adding a level of indirection between OIDC and default Django auth depending on settings, and that was losing the `next` parameter. The commit is https://github.com/MozillaSecurity/FuzzManager/commit/2ccb436a25f474d97786d27c3bcc466d502943aa.

[2018-10-18 14:31] #276 closed

[2018-10-19 22:23] beckler opened #281 "Values imported from `import_from_settings` gets truncated if it contains a `$` symbol."
It's taken me a while to get to the bottom of this issue, but it's pretty self-explanatory.

In this example, the `client_secret` contains two `$` and was truncated.
I'm removing the sensitive data, but the length should be accurate.

With cURL:
[code]

With lib (with requests_toolbelt / dump):
[code]

[2018-10-21 09:29] AndyNor opened #282 "url oidc_logout - should get-request work?"
In urls.py there is a url for logging out. I could not find the documentation for it or any examples using it except for the mention of OIDC_OP_LOGOUT_URL_METHOD under https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html#log-user-out-of-the-openid-connect-provider.

url(r'^logout/$', views.OIDCLogoutView.as_view(), name='oidc_logout') points to OIDCLogoutView in views.py. It defi

[2018-11-14 15:35] tpazderka opened #283 "Authenticate method should cache token response"
`OIDCAuthenticationBackend.authenticate()` should cache the result of `OIDCAuthenticationBackend.get_token()` and `OIDCAuthenticationBackend.get_userinfo()`.

If multiple backends based on `OIDCAuthenticationBackend` are present in settings and the first one present is not able to authenticate the user (for example `verify_claims` returns False for missing claims), the second backend should reuse

[2019-01-11 22:13] phamj88 opened #289 "setup with okta"
Hi All,

I am getting an exception whenever I authenticate and get redirected back to /oidc/callback:
[code]
Reading Okta documentation it says it is default 'HS256' so I dont know why it is saying RS256.
But its not obvious on the Okta app, has no settings for what time of signing algorithm it uses.
https://developer.okta.com/docs/api/resources/oidc#token-authentication-methods

On my Okta app I

[2019-01-14 12:01] ziima opened #290 "Verify email breaks authentication (regression 1.2.0)"
Change from #285 breaks authentication in some cases. The check is unconditional, so in case `OIDC_CREATE_USER` is set to `False` and `email` is not requested, the authentication starts failing after migration to version 1.2.0.

[2019-01-14 14:17] johngian commented on #290
Hey @ziima thanks for the feedback. How are you requesting the scope from your OP. Are you defining it in ``settings.OIDC_RP_SCOPES``?

[2019-01-14 17:16] Pike commented on #282
Just stumbling over this myself. The POST-requirement was added in #126, with mixed feelings.

I'm currently just using the standard logout view from django, which may or may not be a bad idea.

[2019-01-15 12:16] ziima commented on #290
Yes, we set `OIDC_RP_SCOPES = 'openid'` since that's the only scope we use.

[2019-01-15 16:45] phamj88 commented on #289
duh.
Changed OIDC_RP_SIGN_ALGO to RS256.
I think im getting further.
Is OIDC_OP_JWKS_ENDPOINT the /keys uri?
https://developer.okta.com/docs/api/resources/oidc#keys
 Now I am getting:
[code]

[2019-01-15 16:50] #289 closed

[2019-01-15 20:34] phamj88 commented on #282
is there an example on how to setup the post request for logout?

[2019-01-17 14:08] ZedObaia opened #291 "mozilla-django-oidc, Session flushed between authorize and callback"
I'm trying to set up a client to authenticate using a provider that I built.
I followed the quick start in the docs and here's the relates **settings**:
[code]
[code]

[code]
and in the **templates**
[code]
I get redirected to the provider when i click login, and I get a callback with the authorization code, but the client never post data to the token endpoint.

[2019-01-17 19:57] phamj88 opened #292 "getting token id to logout"
logout requires a token id, how do you get the token?
Looking at the documents looks like i should be able to get it from sessions if `OIDC_STORE_ID_TOKEN = True`

But doesn't seem to work.
Logout view:
[code]

[2019-01-21 16:58] johngian commented on #290
Hi! This should be fixed after #293

[2019-01-21 16:58] #290 closed

[2019-01-26 05:44] h4ppysmile opened #295 "response_type is hard coded"
my client response type to work needs to be `id_token token`  but it is hard coded `code` at line 143 of `views.py` .
Is not better to make it config?

[2019-01-30 13:58] ZedObaia commented on #291
I found out the problem, the session gets flushed between `authorize` and `callback`. so the variables such as `state` that are saved in session are no longer verified, thus it fails to call the token endpoint.

Something strange happens as well, when redirected to the provider it forces a logout from the provider's website.

Still trying to figure out why that happens and how to overcome this iss

[2019-02-01 22:27] gene1wood opened #296 "Readthedocs integration no longer working"
With [GitHub services being turned off yesterday](https://developer.github.com/changes/2018-04-25-github-services-deprecation/) the Readthedocs integration has stopped working and changes to documentation will no longer result in updated to the readthedocs site for this project. Please create [a Readthedocs GitHub webhook](https://docs.readthedocs.io/en/latest/webhooks.html#webhook-creation) to re

[2019-02-04 12:50] draganHR opened #297 "Using customized ADFS ID tokens"
I need to enable authentication via [ADFS](https://docs.microsoft.com/en-us/windows-server/identity/active-directory-federation-services) (Windows Server 2016) and OpenID Connect.

It seems that the [ADFS userinfo endpoint always returns only "sub" claim](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/ad-fs-faq#i-am-trying-to-get-additional-claims-on-the-user-info-endpoint

[2019-02-17 19:03] moz-hwine opened #298 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/mozilla-django-oidc/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defa

[2019-02-20 08:38] #291 closed

[2019-03-01 12:00] benkonrath opened #299 "add support for OpenID Connect Session Management 1.0"
I've implemented OpenID Connect Session Management 1.0 on top of mozilla-django-oidc for a project that I'm working on and I'm wondering if you're interested in having support for this (draft) standard included in mozilla-django-oidc itself.
https://openid.net/specs/openid-connect-session-1_0.html

Basics of this standard involve loading a hidden iframe from the RP and the OP which allows the RP t

[2019-03-17 12:31] Pike opened #302 "OIDC snatches URLs and responds with 403"
There's something on l10n.mozilla.org that seems to break URLs.

I've found that an ajax request to https://l10n.mozilla.org/builds/tbpl-rows?after=199204&random=3 got a 403 response with a refresh_url to https://auth.mozilla.auth0.com/authorize?nonce=XXX&prompt=none&state=XXX&redirect_uri=https%3A%2F%2Fl10n.mozilla.org%2Foidc%2Fcallback%2F&response_type=code&client_id=XXX&scope=openid+profile+ema

[2019-03-18 14:45] akatsoulas commented on #302
Hi @Pike,

Thanks for filing this issue. The session refresh middleware can be a bit tricky with ajax requests. There is a relevant section in the documentation [0] that explains in more detail what might be happening there. Does this help solving your issue?

[0] https://mozilla-django-oidc.readthedocs.io/en/stable/xhr.html

[2019-03-21 03:32] rackymuthu opened #303 "'oidc_state' does not match the OIDC callback state"
I'm run the django project using the Mozilla Django OIDC. While the project running it is shown the **'oidc_state' does not match the OIDC callback state** error rise in console. how to fix

[2019-03-27 18:56] eastpiger commented on #236
same problem.

I think, If the oidc provider provider returns a refresh key with access token, we can easily refresh the access token use it in backend, rather than directly redirect the request.

That is important that, I use the server as an API provider. It always redirect my api request to login pages and return back. For frontend, it is confusing behavior because they may expect a 401 code.

[2019-03-28 02:34] eastpiger commented on #236
Here another oidc rp library does this staff.

cc [django-oidc-rp's middleware.py](https://github.com/impak-finance/django-oidc-rp/blob/master/oidc_rp/middleware.py)

[2019-03-29 12:08] Pike commented on #302
So, this isn't just about AJAX, we also see this problem with main views, and with some fidgeting, I was able to narrow it down. If you load multiple tabs in parallel that all try to refresh the session, they all get bad state.

[2019-03-29 22:05] Mozilla-GitHub-Standards opened #305 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 15:56] minrock opened #307 "504 errors on network with proxy"
Hi everyone, thank you for your great work!

I'm using your library on an enterprise environment which requires me to connect to a VPN and route everything through a proxy for internet, but in my case my server is inside intranet and I should not use environment HTTP/HTTPS proxy to route my request to the OIDC server so I need to send my requests as `request.post(self.OIDC_OP_<whatever>, data=data

[2019-04-08 13:52] #305 closed

[2019-04-11 13:24] thys-unomena commented on #291
Hi @ZedObaia

Did you get this resolved?
I'm seeing the same behaviour ...

[2019-04-11 20:52] bjornuppeke commented on #295
I actually have the exact same issue. But after reading up on it a bit I found that there is actually a lot more to it than just changing the `response_type`. If you do so you are telling the Provider that you are using a whole different `flow`. `response_type=code` uses the 'authorization code flow' which means that the client needs to make 2 requests to get the token:

1. First request the `auth

[2019-04-12 12:31] ZedObaia commented on #291
Hey @thys-unomena
Turned out the issue was not related to mozilla-django-oidc.
I was using another package called django-oidc-provider to build the open-id provider.
Here's the [issue](https://github.com/juanifioren/django-oidc-provider/issues/314) and it's solve.

[2019-04-15 12:24] johngian commented on #299
Hey @benkonrath. That would be very interesting. As long as it follows the spec and is optional (maybe under `contrib/`) so people can configure it, I will be happy to review and merge.

[2019-04-15 12:25] johngian commented on #303
Hey @rackymuthu. Can you provide some more information about your dev environment ?

[2019-04-15 12:31] johngian commented on #307
Hey @minrock i am not sure if its in the scope of the library. For your issue, have you tried this:
http://docs.python-requests.org/en/master/user/advanced/#proxies ?

You can setup env vars for python requests to use proxies, that said i haven't tried it.

[2019-04-15 12:40] #298 closed

[2019-04-15 12:57] johngian commented on #280
Hey @pbelmann thanks for the feedback. Its been in the TODOs since forever but i guess things worked out fine and we never prioritized it.

I will try to implement this so it goes out with the next release.

[2019-04-15 16:44] minrock commented on #307
Hi @johngian.
Yes I was looking at that documentation but without lucky 'cause I need to set the environment proxies for internet related stuff in my containers, but for internal requests, I need to bypass that proxy.

However, I found something interesting that may help me with my problem, this is not in the documentation but found on the code to use NO_PROXY environment variable. I'll make some

[2019-04-15 16:44] #307 closed

[2019-04-17 11:05] pc9795 commented on #280
@johngian Can I pick this issue?

[2019-04-17 11:11] johngian commented on #280
Sure, assigning it to you.

[2019-04-23 04:18] pc9795 commented on #280
Hi @johngian  when are you planning your next release?

[2019-04-23 09:10] johngian commented on #280
We don't have a specific timeline per release.

[2019-04-24 19:42] benkonrath commented on #299
I recently finished working on the project that I mentioned so I don't think I'll be able to make a PR anytime soon. There's a small chance I could get back to this in the next couple of months. If I do, I'll just open a new PR directly. But for now, I'm closing this issue because I don't have specific plans to make this contribution in the near future.

[2019-04-24 19:42] #299 closed

[2019-04-25 09:44] xoen commented on #154
Hello, I'm also getting this. We're using Auth0 and I get that it's a request to `OIDC_OP_TOKEN_ENDPOINT` which is returning a `401 Unauthorized`, what it's not clear to me is how to solve it.

Is it a misconfiguration? Thanks for any insight.

[2019-04-25 09:46] xoen commented on #154
Actually, now that I've commented I realised that original comment is talking about a `403` but we're getting a `401`, still not sure how to solve it 🤷‍♂️ .

[2019-04-25 09:58] xoen commented on #154
Sorry for the noise, I hope others which may have a similar issue. That `401 Unauthorized` was caused by the client secret being wrong (accidentally messed with the local dev config 🤦‍♂️), hence the unauthorized error 😁

[2019-05-24 01:54] nabaz commented on #246
i this is still needed? I can work on it

[2019-06-05 09:50] ziima commented on #246
In my opinion yes, because we can't trust identity providers to always return correct responses.

[2019-06-14 13:41] RubenGarcia commented on #289
I'm getting the same issue "failed to get or create user: Claims verification failed". phamj88, can you point to the solution?

[2019-07-09 08:46] benjaminaudet commented on #292
Up

[2019-07-18 09:56] cfra opened #312 "JWT Nonce verification failed"
In my application, I am seeing a `SuspiciousOperation: JWT Nonce verification failed.` in the logs from time to time.

I am not sure what the reason for this is.

The identity provider seems to always return the nonce correctly.

One guess of mine is that these are maybe flaky clients where the first request for the callback page makes it through to the server, but the response which sets up the a

[2019-07-23 18:15] johngian commented on #312
The reason OIDC uses nonce is to protect you from replay attacks. The idea is that the application generates the nonce and sends it to the OIDC provider on authentication request. Then the provider includes this nonce to the callback so you can correlate the authentication response to the initial request.

What we've noticed in some apps is that we get the same error when a user initiates the auth

[2019-07-23 18:16] johngian commented on #312
Also yes, your assumption also sounds plausible.

[2019-07-24 13:05] cfra commented on #312
I have to admit I am not too familiar with OIDC, but from my understanding of OAuth 2.0, when control is passed back from the authentication provider to our callback, our application is passed an authorization code which it will exchange for an access token.

That exchange is only possible once, if there is another attempt to exchange the same authorization code for an access token, all access tok

[2019-07-24 17:54] johngian commented on #312
An example from the top of my head is:

* User A initiates authentication flow
* User A gets redirected to OP
* Malicious user B sniffs the `id_token` from the network
* Replays the authentication flow to the RP before user A and authenticates successfully

With `nonce` associated with user A session, user B cannot authenticate to the RP because `nonce` cannot be validated.

[2019-08-02 08:03] insaneda opened #313 "how can I show the keycloak user ID"
from the doc, i can print user email but why can't I access the other credentials like **username, user id** from keycloak server?
According to keycloak server, **user.sub** should've print user ID but in vain it doesn't work. How can I solve this?
[code]
Do I have to change any other things to access the use id?

[2019-08-02 12:30] johngian commented on #313
By default `mozilla-django-oidc` only stores username/email. In case you want to add store more information from the user claims you should extend your `User` model and override the authentication backend as described here:

https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html#changing-how-django-users-are-created

[2019-08-02 12:31] johngian commented on #313
Since we are planning to keep the library as minimal as possible i will go ahead and close this issue.

@insaneda Let me know if you need further information on how to store claims to your User.

[2019-08-02 12:31] #313 closed

[2019-08-02 12:45] johngian commented on #296
Added the webhook and triggered builds for the skipped versions. Thanks @gene1wood

[2019-08-02 12:45] #296 closed

[2019-08-02 12:54] johngian commented on #295
The scope of this library is to support only authorization code flow. I don't thing we are planning to handle other OIDC flows any time soon because this implies a lot of work on how we handle authentication. Thanks for the feedback :rocket:

[2019-08-02 12:54] #295 closed

[2019-08-02 13:20] johngian commented on #106
I added some design principles in README explaining what's the scope of this lib.

[2019-08-02 13:20] #106 closed

[2019-08-02 13:24] johngian commented on #235
Closing this one after #308 is already in production. You can now override `get_settings` per class to add custom settings.

Thanks @cobusc for the feedback.

[2019-08-02 13:24] #235 closed

[2019-08-02 13:46] johngian commented on #282
Hey @phamj88, here is an example from `support.mozilla.org`:

https://github.com/mozilla/kitsune/blob/35471a1b4ca56c816408437f52c508dda434fa0e/kitsune/users/jinja2/users/profile.html#L192

[2019-08-02 14:17] johngian commented on #282
Closing this one after #314

[2019-08-02 14:17] #282 closed

[2019-08-02 14:19] johngian commented on #71
Closing this one as a duplicate of #280

[2019-08-02 14:19] #71 closed

[2019-08-02 15:29] johngian commented on #297
`mozilla-django-oidc` is designed to use `userinfo` to get the claims. A workaround to what you describe is:

* Enable `OIDC_STORE_ID_TOKEN`
* Read the token from ``self.request.session``

For more information:
* https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/auth.py#L291

Keep in mind that if you are using a cookie based session you might be leaking information to

[2019-08-02 15:29] #297 closed

[2019-08-02 15:45] johngian commented on #283
I don't thing that this is part of the scope of this library. Have you seen any performance issues that might be solved with caching in that level? It sounds more of something that should be implemented per case (eg. override ``verify_claims`` and cache results based on `sub`).

Closing this as wontfix.

[2019-08-02 15:48] tpazderka commented on #283
The caching is not for performance reasons, but because the second backend gets an error from the OP since the code was already used by the first backend.

[2019-08-02 15:55] johngian commented on #283
Thanks for the clarification @tpazderka. That indeed sound as a plausible scenario. Do you have a real world example of using multiple OIDC backends and expecting to work with a single access token?

[2019-08-02 15:57] johngian commented on #283
We have a project with a similar setup that uses different providers so it works out fine.

[2019-08-02 16:03] tpazderka commented on #283
Yes, our internal systems rely on single OP but different parts do need different sets of attributes. On the other hand, we want users to be authenticated if they come from a different part of our systems so we need to have the backends in settings.

[2019-08-02 17:06] johngian commented on #283
I think what we can do to keep the scope of the project small but also workaround that scenario is to move all the OP calls to different methods, then library users can customize with caching logic for example.

[code]

[2019-08-02 17:07] johngian commented on #283
Thoughts ?

[2019-08-04 18:01] insaneda commented on #313
@johngian i'm kinda new to django. Where should I write that override code? should I write that on **settings.py** or **models.py**?  And I didn't get this line, can you please explain to me this  `use the Python dotted path to that class in the settings.AUTHENTICATION_BACKENDS instead of mozilla_django_oidc.auth.OIDCAuthenticationBackend.`

[2019-08-04 18:39] insaneda commented on #313
@johngian i'm kinda new to django. Where should I write that override code? should I write that on settings.py or models.py? And I didn't get this line, can you please explain to me this use the Python dotted path to that class in the settings.AUTHENTICATION_BACKENDS instead of mozilla_django_oidc.auth.OIDCAuthenticationBackend.

[2019-08-05 07:18] tpazderka commented on #283
Yes, it is possible to do it by overriding `get_token` on a user level, but my idea was to have something right of the bat.

[2019-08-05 07:25] akatsoulas commented on #313
Hi @insaneda,

The Django documentation [0] has a couple of examples on how you can extend the user model and add more information to it. After that you need a way to store that new information in your user model. That's where the authentication backend comes in. By default the library does not store the information that you need, so you will need to follow the documentation [1] and store/update y

[2019-08-05 08:21] insaneda commented on #313
Thanks @insaneda . I'll work on that.
 But I've got a new problem. If a user has email, then user authentication is not working like `claims verification failed`. I tried to override verifyclaims method but that needs claims and for claims I need id_token, but that id_token never created if a user has no email address.
What should I override so, if a user has no email still it will be authenticate

[2019-08-06 10:06] insaneda opened #315 "Overriding 'verify_claims' method problem"
I'm trying to override the `verify_claims` method but somehow it's not working or maybe my process is wrong. This is how I'm trying to override this method:

**models.py**
[code]
**views.py:**
[code]
**templates/index.html**
[code]
this template view is not overriden, how can I override this correctly? Do I've to change something on **settings.py** or **urls.py**?

[2019-08-06 11:08] akatsoulas commented on #315
Have you added your custom backend to your settings as described here?
https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html#add-settings-to-settings-py

[2019-08-06 11:11] insaneda commented on #315
no, i've used the backend the was mentioned in the docs:

[code]
this one

[2019-08-06 11:13] akatsoulas commented on #315
Since you are overriding the backend with a custom one, you need to add it to your settings too.
You can read more about it here
https://docs.djangoproject.com/en/2.2/topics/auth/customizing/

[2019-08-06 11:14] akatsoulas commented on #315
I am closing this issue as it's not related to the library. Thank you for filing the issue.

[2019-08-06 11:14] #315 closed

[2019-08-08 17:26] nmaaruf opened #316 "okta response"
I'm getting this error
ImportError at /oidc/callback/
/var/task/cryptography/hazmat/bindings/_constant_time.abi3.so: invalid ELF header

I set it up with okta

[2019-08-13 02:38] SpaceWhite opened #317 "Client error on keycloak token endpoint"
Hi

I tried to integrate django with keycloak openid by using this library. Unfortunately I got this message
[code]

Here is my sample settings in my django application
[code]
I would be glad if someone could help me with this issue :).

[2019-08-29 13:03] shaunsephton opened #319 "Port not included in redirect_uri"
**Describe the bug**
The request's port is not included when urls are built up by  `mozilla_django_oidc.utils.absolutify` and thus when using for arguments sake a test host like http://example.com:52525, `OIDCAuthenticationRequestView` redirects will incorrectly specify a `redirect_uri` without a port, resulting in errors like `The request fails due to a missing, invalid, or mismatched redirection

[2019-08-29 17:27] esune opened #320 "Custom logout function for Keycloak"
I am implementing a custom logout function to sign-out from Keycloak when the user performs a logout action in django admin. I need to make a POST request to the Keycloak logout endpoint and include the _client_id_ as well as the _refresh token_ (see [here](https://github.com/keycloak/keycloak/blob/master/services/src/main/java/org/keycloak/protocol/oidc/endpoints/LogoutEndpoint.java#L176)) as for

[2019-09-11 12:14] #319 closed

[2019-09-11 12:15] shaunsephton commented on #319
Apologies, this problem ended up being a configuration issue on my end, closing.

[2019-09-20 14:07] AaronTorgerson commented on #320
@esune I wonder if your `OIDC_OP_LOGOUT_URL_METHOD` should return a URL to your own page with a hidden "logout" form that gets submitted on load by JS to KeyCloak. I've seen SAML implementations that do things like this. Or perhaps a simple AJAX call would work. In either case, it would seem that `OIDC_OP_LOGOUT_URL_METHOD` should return a URL to your own page.

[2019-09-23 18:46] esune commented on #320
@AaronTorgerson my main issue is that the function specified by `OIDC_OP_LOGOUT_URL_METHOD` doesn't seem to be called/executed at all.

[2019-09-23 20:06] AaronTorgerson commented on #320
Interesting. If it's helpful, here's how I have mine set up.

Django settings file:
[code]

Implementation (`my_auth/__init__.py`):
[code]
That setup works for me.

Also, one last point (this one threw me for a bit): The logout route is POST-only, so you have to execute it from a form/button:

[code]

[2019-10-01 18:00] mihow commented on #240
Adding a generic failure message to django `messages` seems like a a fine option. This is currently a frustrating issue. Users are redirected silently with no information, and there are no details in the logs for sysadmins to view unless the log level is set to DEBUG.

[2019-10-31 08:32] zefciu opened #324 "Lower the latency by caching the keys and not refreshing the user"
I am currently trying to setup a project, that uses OIDC to protect a graphQL API. I want to retrieve the JWT tokens from okta and then use them to autorize *every* request to the API, without a separate login endpoint. I created a graphene middleware that uses mozilla-django-oidc to authorize the keys and injects the user into the context (I based it on similar middleware in django-graphql-jwt).

[2019-11-04 10:31] surfer190 commented on #317
If you go to:

http://KEYCLOAK-IP/auth/realms/{realm}/.well-known/openid-configuration

All the endpoints are given. I'm testing this now though and will get back to you.

[2019-11-04 10:49] stevejalim commented on #303
I'm seeing this intermittently, too, on a Wagtail project using `mozilla-django-oidc`.

Sometimes, when opening a new page/following a link in the Wagtail CMS UI, it'll 500.

I don't currently have a full traceback, but I screenshotted the top-line details when I managed ti trigger it in local dev. (Fairly usless, sorry.)

![Screenshot 2019-11-01 at 13 40 53](https://user-images.githubusercontent.

[2019-11-04 11:10] surfer190 commented on #317
It looks like you need to set the following as well for the `RS256` algo:

    OIDC_RP_IDP_SIGN_KEY = 'XXX'

[2019-11-04 14:04] surfer190 commented on #204
I fixed this by now providing a `OIDC_RP_IDP_SIGN_KEY`

[2019-11-04 14:35] surfer190 commented on #317
After debugging I noticed the error keycloak gives is indeed a `400 Bad request` with the json:

`{"error":"invalid_grant","error_description":"Code not valid"}`

Also while debugging I found the first time the `get_token` method is called, it is `200 OK`.
It however makes a call the second time that fails.
Django returns a `302` on the first one and a `500` on the second.

Not sure why it makes 2

[2019-11-04 14:47] surfer190 commented on #317
Ah, you need to set your login and logout urls:

[code]

If they are set as:

[code]

It will duplicate the callback for the login - causing the failure.

[2019-11-21 22:22] cburmeister commented on #317
We're running into something similar while using Hydra as an OAuth provider.

In our scenario -- somewhere during the callback you can see that this library is requesting the token endpoint a second time which causes the provider to return a 400:
[code]

It's obvious why the second request to the endpoint failed, the authorization code has already been used to obtain a token... I just can't determ

[2019-11-22 08:16] surfer190 opened #326 "Does Mozilla Django Oidc support single sign out?"
Single sign out is not part of the OpenID Connect specification from what I read but you can condifure single sign out I believe.

So if you are logged out in a seperate client, revocation or logout will happen on django.

The requirements is using the `Admin URL` in the case of keycloak.

If this is a thing, what should the admin url of keycloak be?

[2019-11-26 14:45] SpyTec opened #328 "Does not authenticate correctly with DRF"
I've setup a login and callback endpoint directly from `mozilla_django_oidc`. It redirects to OIDC provider, logs me in, redirects me back, and also creates a correct user on the user table.

However, the session never persists. There is a `sessionid` cookie being set, though `request.user.is_authenticated` returns false. This is with DRF, though I don't see why it would have much of an impact on

[2019-11-27 10:28] SpyTec commented on #328
After adding `AUTHENTICATION_BACKENDS = [mozilla_django_oidc.auth.OIDCAuthenticationBackend]` there seems to be progress, although now getting NoReverseUrl, despite having it defined

[code]

![image](https://user-images.githubusercontent.com/6598829/69715354-692a1e80-1108-11ea-9d29-66f3787a791b.png)

[2019-11-27 12:47] SpyTec commented on #328
Right, putting
[code]
in project root worked, presumably due to namespacing. However, putting
[code]
in root instead wouldn't work. So I'm back to square one as I would like to manually control the URL view rather than letting the library do it

[2019-11-28 15:09] SpyTec commented on #328
I've submitted another PR to help with middleware redirects. It seems the issue with authentication lies with DRF.

Running `user.is_authenticated()` inside a DRF view always returns false. Whereas outside DRF in plain Django it returns true. This happens despite only having Mozilla Django OIDC in the `REST_FRAMEWORK.DEFAULT_AUTHENTICATION_CLASSES` setting

[2019-11-29 10:06] SpyTec commented on #328
Turns out we **need** to add SessionAuthentication to DRF auth classes, similar to #265, otherwise it will not work

[code]

[2019-12-04 21:07] cburmeister opened #332 "Library requesting OAuth 2 token endpoint twice during callback"
We're using Hydra as our Identity Provider.  In our scenario -- somewhere during the callback you can see that this library is requesting our token endpoint a second time which causes the provider to return a 400:
[code]

It's obvious why the second request to the endpoint failed, the authorization code has already been used to obtain a token... I just can't determine why the library isn't returni

[2019-12-12 18:35] Pomax commented on #113
This would still be super-duper useful to have (we're adding SSO to the foundation donate stack atm and a mock like this would make testing a lot easier =)

[2019-12-18 20:56] mjstealey opened #333 "ImportError: Removal of "six" from django.utils in Django version 3.0"
Reference: https://docs.djangoproject.com/en/3.0/releases/3.0/#removed-private-python-2-compatibility-apis

The `from django.utils import six` import in [auth.py](https://github.com/mozilla/mozilla-django-oidc/blob/master/mozilla_django_oidc/auth.py#L18) will fail under Django 3.0

[2019-12-18 20:58] willkg commented on #333
Pretty sure this is fixed by #322.

[2019-12-18 21:03] mjstealey commented on #333
Ah, yes, you are correct!
Assuming it'll get released once the failing checks are resolved.
Will self resolve in the meantime.

Closing, and thanks for the quick response!

[2019-12-18 21:03] #333 closed

[2019-12-20 18:37] david-steffen opened #334 "ImportError: cannot import name 'six' - django.utils.six removed from Django 3.0"
First off, I'd like to say thanks for your time in creating this library.

The two options are importing six directly or just removing it and supporting python3 only. Is there any reason to continue using six for compatibility?

I'm happy to create a pull request for either option, just let me know which is preferred.

Thanks

[2019-12-21 10:21] jaap3 commented on #333
@mjstealey The failing check seemed to be caused by a network issue at Travis at the time. I've been trying to get someone to rerun the checks and do a full review. I'm hoping that after the holiday period there will be someone that has some time available.

[2019-12-23 10:47] johngian commented on #334
Since we still use python 2x i suggest we just add `six` in dependencies and import directly the library as suggested in Django 3.0 changelog.

[2020-01-02 14:33] pauloxnet opened #338 "Please release a new version to PyPi"
Now the package is not usable with Django 3.0 but the commit with the fix was pushed one month ago:
https://github.com/mozilla/mozilla-django-oidc/commit/ab37be7ae2d47a7a3e90b4783c9493160ce8e3ae

Can you release a new version of this package on PyPi so we can continue using with the latest version of Django?

If I can help doing this I'm ready.

[2020-01-02 14:40] willkg commented on #338
The commit was made a while ago, but the PR it contained was merged 2 hours ago as of this writing:

https://github.com/mozilla/mozilla-django-oidc/pull/336

I'm sure they're working on a release soon. Closing this out because it's a duplicate of #333 and other issues covering "support Django 3.0".

[2020-01-02 14:40] #338 closed

[2020-01-02 14:42] johngian commented on #338
Hey, for now you can use `master`, i am planning to do a release soon.

[2020-01-02 14:46] alcad commented on #338
Hi @pauloxnet and @willkg ,
I've same need.
Upgraded django but trouble with mozilla-django-oidc.
I wait for a PyPi package release

Best regards

[2020-01-02 14:47] pauloxnet commented on #338
Thanks, I've checked only the opened issue before adding this one but the #333 is closed so I've missed it.

I'm using `master` right now but a new release on pypi will be very useful.

Thanks for the quick reply and your work on this packages and this specific issue, I appreciate it a lot.

[2020-01-02 16:00] johngian commented on #334
Already fixed in master

[2020-01-02 16:00] #334 closed

[2020-01-02 16:01] johngian commented on #338
FYI `v1.2.3` is released on PyPI
https://pypi.org/project/mozilla-django-oidc/1.2.3/

[2020-01-02 16:20] pauloxnet commented on #338
Thank you very much

[2020-01-02 16:23] alcad commented on #338
Thank you @johngian

[2020-01-11 12:12] pkimber commented on #332
I just had the same issue, but it just went away.  No idea why :cry:

[2020-01-13 10:39] fredldotme opened #339 "Session refresh failing during API access"
We're using Keycloak as our IDP provider and notice strange behavior when protecting our DRF API endpoints using Mozilla-Django-OIDC.

Using SwaggerUI/DRF-YASG we want to exercise our OIDC-protected API endpoints and test them out. This works fine, until the session refresh kicks in. In this case the browser seems to send a preflight request (OPTIONS request) to the backend which fails to be handl

[2020-01-16 23:15] gavinwahl opened #340 "Verify ID token audience claim"
"OpenID Connect Core 1.0 incorporating errata set 1", [section 3.1.3.7 ID Token Validation](https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation):

This library does not validate the audience claim as required by the specification.

[2020-01-17 17:17] TJHeeringa opened #341 "Documentation: How to get tokens to SPA?"
I have a React single page application( SPA)  on the same server that I have a Django Rest Framework RESTfull API. I want to implement OIDC for my setup. I can login directly on DRF just fine. I run into problems for my frontend in React. I logged in on my API using OIDC. Now I do a query like `
fetch('/server/api/get/stuff', {credentials: 'same-origin'})` to see how I need to query the API from t

[2020-01-29 16:22] florian-hartmann commented on #312
I do get the same errors with the situation described above. I also think it is related to issue #303 !

- Tab A wants to authenticate, sets a nonce and state in the session, is being redirected to the OAuth provider.
- Tab B is opened, sets overwrites nonce and state in the session, is redirected to the OAuth provider.
- Tab A now authenticates at the OAuth provider and is being redirected back t

[2020-01-30 19:05] ilar opened #343 "Best Practices Question: How to set attributes from django app?"
I've got mozilla-django-oidc working with my project (and very easily at that, nicely done). I have all my claims matching up to my model fields, which brings me to my next question that I don't see an overabundance of documentation on- how can I send information back to my idp to set/change the attribute values that would become my claims?

I'm currently using AWS Cognito, and I only see a few op

[2020-02-04 16:07] Flor1an-dev commented on #303
I've created a merge request which should fix this issue: https://github.com/mozilla/mozilla-django-oidc/pull/345

[2020-02-04 16:08] Flor1an-dev commented on #312
I've created a merge request which should fix this issue: https://github.com/mozilla/mozilla-django-oidc/pull/345

[2020-02-04 16:13] Flor1an-dev commented on #244
@bpereto A bit late but you should define the `SESSION_COOKIE_NAME` differently in each app (client / provider). Django will then use two different cookie for each application and won't overwrite each other. The same is true for the `LANGUAGE_COOKIE_NAME` and the `CSRF_COOKIE_NAME`.

Can we close the issue?

[2020-02-05 11:34] #244 closed

[2020-02-05 11:34] johngian commented on #244
Thanks @Flor1an-dev for the clarification.

[2020-02-12 12:38] surfer190 opened #346 "How to view or access the token JSON?"
How do you get access to attributes on the client scope or view the entire access token payload from a view?

[2020-02-13 07:26] surfer190 commented on #346
I enabled storing the id token in the session:

`OIDC_STORE_ID_TOKEN = True`

and then used the following code:

[code]

To get the payload.
There is another issue in how do you refresh the token when new client scopes are added?

[2020-03-29 20:49] marcosjroig opened #347 "issue with Azure AD B2C"
When I click in the login button I got this URL which looks wrong to me, I will split it, just for convenience:

https://TENANTID.b2clogin.com/TENANTID.onmicrosoft.com/oauth2/v2.0/authorize?p=b2c_1_TENANTID_signin?response_type=code&scope=openid+email&client_id=XXXXXXXXXXXXXXX&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Foidc%2Fcallback%2F&state=pt8aYXicnYRSQkkB8kwHSv4hQwt9Xzre&nonce=UfLfk6QovA2in

[2020-04-05 21:53] mikebridge commented on #347
I see several different versions  endpoints.  There are two versions of the old "microsoftonline.com" ones, which are superseded by the endpoints for  "b2clogin.com", but none work for me.   Specifically, I get a 400 error when accessing the USERINFO endpoint.

I'd actually like to disable the call to userinfo---I already have an identity token which I'd rather use instead.  Is there any way to do

[2020-04-05 22:22] mikebridge commented on #347
.... I also see that accessing the graph API directly with a valid Access Token gives me the following error, so it could be that something is missing from my configuration:

    401 Client Error: Unauthorized for url: https://graph.microsoft.com/oidc/userinfo

[2020-04-06 13:00] bsteverink opened #348 "Django CSRF token invalid after session refresh"
Please point me in the right direction if this is not the proper place to post this issue.

I have implemented mozilla-django-oidc 1.2.3 in several of my projects. However when the user takes more time that the session expiration time to fill in a form, the csrf token that has been added to the form at page load time is invalidated (a new token is created by Django on session refresh if I understa

[2020-04-09 22:25] paulpavlishcoupa commented on #244
I had the same issue that @bpereto had.

Here is how I solved the problem
1. Please make sure you clear your cookies to reset your session for localhost.
2. Change domain (use mycomputer.local instead of localhost). You will have to update your `ALLOWED_HOSTS` if it isn't ['*'] and you need to update your start script allow all ingress. For example
`python manage.py runserver 0.0.0.0 9000`
3. Chan

[2020-05-05 14:23] nedy13 commented on #317
I only want to tell you about our observations. I don't know how django handles the stuff, but don't think it is a django-oic issue.

We are also using a OIC implementation in Java. We observed also this problem. Seems a keycloak issue. Our relogin mechanism, when the webclient session is expired, is using the same access_token. The access_token is only valid for 5 minutes by default in Keycloak.

[2020-05-06 17:37] maszaa commented on #244
I'm occasionally facing this issue as well. Session Middleware is enabled. OIDC_VERIFY_SSL is True. I'm using DB stored sessions.

OIDC provider and client are in different domains (provider is 3rd party).

Client users shouldn't be using any sub domains. If they are it's a one sub domain which is redirected to the "main" domain. That sub domain request doesn't reach Django.

What are possible rea

[2020-05-15 11:55] luzik opened #351 "Authorization - how map claims to Django groups"
I have to assign Django permissions based on provided claims - it is possible with mozilla-django-oidc ?

[2020-05-15 16:49] OmenApps commented on #351
Sure. You can specify which scopes from the provider to use, and how you want to use them.

Take a look at these sections of the documentation:

- https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html#advanced-claim-verification
- https://mozilla-django-oidc.readthedocs.io/en/stable/settings.html#OIDC_RP_SCOPES
- https://mozilla-django-oidc.readthedocs.io/en/stable/installation.ht

[2020-05-16 11:54] #351 closed

[2020-05-19 08:06] JustFerry commented on #317
Did you end up finding a solution for this?

[2020-05-22 00:21] JaredBrown138 commented on #347
I am stumped on this as well.

[2020-05-22 00:37] mikebridge commented on #347
@JaredBrown138 I was unable to get any DRF library to work, but I was able to write an authentication class myself using pyjwt that seems to work with B2C.

[2020-05-22 04:06] JaredBrown138 commented on #347
@mikebridge I might have to do that as well. B2C will return the Application Claims in the token itself so I think first I will try forking mozilla-django-oidc and modify it to grab the user info directly from the token instead of making a second call to the userInfo endpoint.

There is nothing that the repo maintainers can do about B2C not supporting the OpenID Connect spec.🤷‍♂️

[2020-05-22 09:51] pini-gh opened #352 "Please support the front-channel logout specification"
[OpenID Connect Front-Channel Logout specification.](http://openid.net/specs/openid-connect-frontchannel-1_0.html).
This spec is supported by [LemonLDAP::NG](https://lemonldap-ng.org/).

This is needed when the users want to initiate a logout from the OP side.

Thanks in advance.

[2020-06-16 16:24] yasminetta1994 commented on #317
I have the same problem and it doesn't work for me!
If anyone found a solution please help me.

[2020-06-21 02:56] rkpip3 commented on #272
i'm also facing same problem, please some help

[2020-06-21 03:23] rkpip3 opened #356 "getting error : Authentication credentials were not provided"
using Keycloak, I have created user in keycloak, trying to get api via Curl getting

**"detail": "Authentication credentials were not provided."**

any i have tried
[https://github.com/mozilla/mozilla-django-oidc/issues/265](url)

my curl call :
curl --location --request GET 'http://127.0.0.1:8000/api/' \
--header 'Authorization: Token eyJhbGciOiJSUzI1NiIsInR5'

OS: windows
Browser : chrome

setti

[2020-06-23 21:15] kosme10 commented on #317
Changing the "Login action timeout" value to a higher number worked for me.

[2020-06-26 09:27] akatsoulas commented on #303
We can track this issue through #312 which has more information about this problem.

[2020-06-26 09:27] #303 closed

[2020-07-14 16:33] cburmeister commented on #332
Turns out this was due to a misconfiguration on our end, the downstream the client was unable to reach our OAuth server when trying to access the `/userinfo` endpoint.

[2020-07-14 16:33] #332 closed

[2020-07-17 10:14] akatsoulas commented on #312
This issue was fixed through #345 and #358

[2020-07-17 10:14] #312 closed

[2020-07-17 10:15] akatsoulas commented on #341
@johngian can you maybe take a look at this?

[2020-07-20 13:21] fronbasal commented on #317
I have the same problem. I tried increasing the timeout (1h) as @kosme10 suggested and both variables are set, as @surfer190 suggested. I will attempt to dive deeper.

[2020-07-27 06:44] rkpip3 opened #361 "keycloak Multi tenancy SaaS Like Isolation with django rest api"
How to implement keycloak Multi tenancy SaaS Like Isolation with django rest api.

1. signup. A Company should be created.
2. create other users in the same company
3. see a list of users from the same company.

[2020-07-30 12:32] teemukataja opened #362 "Multiple OP support?"
Hello,

I have been reading the documentation for setting up `mozilla-django-oidc` here https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html#add-settings-to-settings-py. The instructions tell to configure the OpenID Provider (OP) in the `settings.py`. It looks like it's only possible to declare one OP.

Is it possible to support two OPs simultaneously, and configure `mozilla-djan

[2020-07-31 02:25] drwonky commented on #348
The csrf token is not generated or manipulated by mozilla_django_oidc.  What's happening is that you have the middleware enabled and the session is being reauthed after 15 minutes.  The middleware only runs on GET method requests, so a form submission via POST should still be valid.  I suggest you record the network interaction in your browser, because I suspect your problem isn't the middleware i

[2020-07-31 02:37] drwonky commented on #339
The OIDC middleware only fires for GET requests, then it generates a redirect.  Have you examined the network transactions to see what the content of the 405 is?  The 405 suggests that you may need to reauthenticate instead of renew the session token.

[2020-07-31 02:40] drwonky commented on #292
To logout you need the logout endpoint, /oidc/logout/ and you need the CSRF token, that's all.

[2020-07-31 02:50] drwonky opened #363 "oidc_login_next session variable is incorrectly set for AJAX session reauths"
In middleware.py the oidc_login_next is incorrectly set for both 302 and 403 redirects.

If the client is AJAX and redirects the browser to the refresh_url, the oidc_login_next variable causes the browser to be redirected to the API endpoint that generated the reauth request.

This simple solution is to move this line to just before the Redirect reponse:

request.session['oidc_login_next'] = reque

[2020-07-31 12:17] akatsoulas commented on #362
@teemukataja you could use this library to support multiple OPs by overriding the `get_settings` staticmethod.

[code]

[2020-07-31 12:17] #362 closed

[2020-08-02 23:48] RafterGit opened #365 "Attribute Error '_RSAPrivateKey' object has no attribute 'verifier' on successful authentication"
Hello ,

I'm currently testing my local environment against an OIDC provider. Via postman, I am able confirm that all of these endpoints are correct and I'm able to hit the USER_INFO endpoint with a bearer token created by the provider.

However, though I'm able to see in the logs that my service is using `mozilla_django_oidc` and successfully getting  a response from the USER_INFO endpoint( json

[2020-08-07 10:53] akatsoulas opened #367 "Release a new version of the library."
Coordinate a release for the 18th/19th of August so that we can ensure people will be around to support the release if needed.

[2020-08-12 10:55] dreynolds opened #369 "Configure settings as class variables on the middleware class"
In most other classes (views, authentication backend) the settings are set as instance variables on the class using `get_settings`/`import_from_settings`. This makes overriding them a lot easier - you can just override the `__init__` method of the class and set them directly.

It would be nice if we could do this same thing in the middleware class. At present there are multiple calls to `self.get_

[2020-08-12 20:36] jwhitlock commented on #369
I also prefer the settings pattern that reads directly from settings in the ``__init__.py`` method, like [UpdateCacheMiddleware](https://github.com/django/django/blob/4d973f593932285cd2f765400d915305d8e7333a/django/middleware/cache.py#L66-L73) from Django:

[code]

I'm curious why ``import_from_settings`` was seen as necessary. @akatsoulas, any idea what the design process was around https://githu

[2020-08-12 21:01] willkg commented on #369
I bet this is my fault. A long time ago, @peterbe and I had different implementations of the SessionRefresh middleware and then I think I merged those into this project when we decided this was the way to go and that's probably why it's got different way of doing things.

[2020-08-12 21:07] peterbe commented on #369
Could the excuse/explanation be that we made it like that because we wanted to make it easier to write some unit tests?
(disclaimer; I haven't even looked at the source code of this in years as none of my current projects are using it)

[2020-08-13 07:49] dreynolds commented on #369
If I made a PR updating the `SessionRefresh` middleware class to work in the way described would that be accepted?

[2020-08-17 20:44] crgwbr commented on #367
Any update on this? I need to new exempt-URL-regex feature to fix a bug in my app.

[2020-08-19 15:12] akatsoulas commented on #367
Version 1.2.4 is released.

[2020-08-19 15:12] #367 closed

[2020-08-20 12:56] akatsoulas commented on #369
As far as I recall it was a way to import settings without calling the django `settings` module. We also wanted a single method to handle any kind of configuration (if there was ever the need). Also the reason for writing this lib back then was the deprecation of persona and we needed something to work with the OIDC provider without having to code each project separately. Because of that the Djang

[2020-08-20 13:02] akatsoulas commented on #369
@dreynolds You should be able to override the `get_settings` method to pass any settings you may want in the `process_request` without the need to override the later only for settings. Is this a viable option for your use case?

[2020-08-24 15:46] dreynolds commented on #369
It is.. but it would be nicer if all of the classes worked in the same way

[2020-08-25 20:10] akatsoulas commented on #369
It would be more than welcome :)

[2020-08-27 12:30] jannh opened #370 "Deprecation warnings with Django 3.1"
In my unittests, I discovered some deprecation warnings:

.../python3.8/site-packages/mozilla_django_oidc/urls.py:21: RemovedInDjango40Warning: django.conf.urls.url() is deprecated in favor of django.urls.re_path().
  url(r'^callback/$', OIDCCallbackClass.as_view(),

This should be easy to fix for all Django versions 2.0 and greater (replace by path syntax). I can provide a PR, do you still suppor

[2020-08-27 14:11] akatsoulas commented on #370
@jannh Now that Django 1.11 is no longer supported I think it's OK to remove support for it in the future versions of the lib (along with Python 2.7). Please feel free to open a PR for this if you would like. Django 2.2 won't be reaching its EOL for more than 1,5 years.

[2020-08-27 15:21] dreynolds commented on #369
Done: https://github.com/mozilla/mozilla-django-oidc/pull/372

Please let me know if there's anything I need to add. I'm not really sure why those Travis tests failed - from the log output it doesn't look like anything went wrong?

[2020-08-31 11:44] sannies opened #373 "scopes are not encoded correctly"
Current code redirects to provider/login?scopes=scope1+scope2+scope3 but that is not correct (most providers understand it nonetheless). AWS Cognito doesn't support it and requires cognitohost/login?scopes=scope1%20scope2%20scope3.

[2020-08-31 11:51] sannies commented on #373
https://github.com/mozilla/mozilla-django-oidc/pull/374

[2020-09-10 07:39] mkotsur opened #375 "Bug: JWK `kid` attribute may not be present in the JWKS"
When using the RS256 algorithm with JWKS endpoint, the [plugin assumes](https://github.com/mozilla/mozilla-django-oidc/blob/14b16df291d43f175417ec107e93f5272652f687/mozilla_django_oidc/auth.py#L162) that the `kid` attribute will always be present, which is sometimes now the case. If it's not present, the code processing fails with the error below.

![image](https://user-images.githubusercontent.co

[2020-09-28 14:02] akatsoulas commented on #369
Thanks @dreynolds for this PR and apologies it took a bit longer. I am closing this issue and I will follow up with a release towards the end of the week.

[2020-09-28 14:02] #369 closed

[2020-10-01 14:19] ChloeTigre opened #376 "userinfo signature algorithms"
Hello,

I have noticed the userinfo endpoint works only when the userinfo signature algorithm is set to "unsigned" (in Keycloak).

Indeed the code to get the userinfo after login is

[code]

There is no decoding step of the response and the library expects the response from the OIDC server to be unsigned unencrypted json while it may very well be a signed payload.

Would `_verify_jws` be a good st

[2020-10-05 21:22] crgwbr commented on #348
@drwonky @bsteverink I've seen the same issue in my projects. For me at least, it happens as a result of multiple-tabs being open.

1. Tab A: Load Form with CSRF token embedded in a form field
2. Tab B: Load some page
3. Wait a few minutes.
4. Tab B: Reload page. This triggers the session refresh. The `csrftoken` cookie is changed in the response from the `OIDCAuthenticationCallbackView` view.
5.

[2020-10-19 10:07] Sispheor commented on #272
Same for me with this [lib ](https://github.com/marcelo225/django-keycloak-auth/).
The flag is not present in metadata of the request.

[2020-10-30 12:34] strus38 commented on #317
Hello
I am having the same issue with Keycloak ... trying to integrate this with NetBox... any hints please? (note: those IPs are not exposed to internet, so no risks for the secrets)
[code]
I get this error:
[code]
Keycloak .well-known file:
[code]
Also I put those value in Keycloak:
Login action timeout: 10mn
Access Token Lifespan: 1mn

If someone has an idea, it would be great!
Thanks!

[2020-10-30 13:39] marius56782 commented on #340
Seems to me that this library also fails to comply with point 2 there:

The library doesn't seem to support Discovery either though (that would be a nice feature to have).

[2020-10-30 14:12] bsteverink commented on #339
I experience something similar. We run a django app that is rendering and authenticating pages in the traditional way. Some pages however have javascript that fetches data from the DRF API e.g. when a users clicks a button. This goes well as long as the token is valid. When the access token expires the DRF API call gets redirected within the browser (two network calls) to the authentication server

[2020-10-30 14:15] bsteverink commented on #348
@crgwbr I think you are spot on in the update. This would solve my issue. The django login method generates a new CSRF token invalidating the one sent with the original POST request.

[2020-10-30 15:35] strus38 opened #382 "Could not find a suitable TLS CA certificate bundle, invalid path: false"
Hi

I am deploying Netbox on K8S and I am trying to add OIDC with keycloak to allow SSO on Netbox.
So I have done the necessary changes - I guess - but failing on SSL certificates with the following error:
[code]
I have used those params:
[code]

Weird thing is that on that netbox pod, trying to read keycloak works without certificates complaints:
[code]

The *.home.lab certificate has been pushed

[2020-10-30 15:57] strus38 commented on #382
well ... some progress since the False was badly set... now 'bytes' object has no attribute 'verifier'

[2020-10-31 10:15] strus38 commented on #382
I also tries with RS256 algorithm, it is failing with: `'bytes' object has no attribute 'verifier'`
However all seem correct:
In ` payload_data = self.get_payload_data(token, key) `
[code]
If I take the token and the key, all seem perfect ...
![image](https://user-images.githubusercontent.com/5890515/97776632-01772180-1b6a-11eb-93e0-30a677450c88.png)

So what is happening??

[2020-10-31 11:24] strus38 opened #383 "JSONDecodeError at /oidc/callback/"
Using OIDC keycloak with RS256 and `OIDC_OP_JWKS_ENDPOINT: https://keycloak.home.lab/auth/realms/master/protocol/openid-connect/certs`

It seems to pass the token verification step, but fails after:
![image](https://user-images.githubusercontent.com/5890515/97777965-050fa600-1b74-11eb-822c-3b4a55f1cba0.png)

[code]

[2020-10-31 16:45] strus38 commented on #382
I could move forward by replacing the token key by the JWT endpoint ... but then fails with the other defect I opened.

[2020-10-31 16:50] strus38 commented on #376
Hi

You saved my day ... I encounter this exact issue - and opened this defect: [https://github.com/mozilla/mozilla-django-oidc/issues/383] since the error message is quite not obvious!... so it will probably end up as a dupliacte of yours.
With you change, it works better indeed.
Thanks, I wish I saw it before!

[2020-11-01 10:07] strus38 opened #384 "How to set groups/roles to a user using a custom OIDCAuthenticationBackend?"
Hi

Still working on the implementaion with Keycloak and Netbox... I am able to define a user, except the groups.
The access_token is defined as follow in Keycloak:
[code]
The custom OIDCAuthenticationBackend is defined like this:
[code]
How to add the roles as defined in
[code]
to the user at creation time since the code I put is not working?
Thanks

[2020-11-01 12:19] strus38 commented on #384
Answer is:
...
usergroup = claims.get('roles', '')
            if usergroup:
              for i_group in usergroup:
                try:
                  group = Group.objects.get(name=i_group)
                  if group:
                    user.groups.add(group)
                except Group.DoesNotExist:
                  pass
...

[2020-11-01 12:19] #384 closed

[2020-11-02 13:15] akatsoulas commented on #383
Thanks @strus38 for filing this. Closing as duplicate of #376. Let's track the issue there

[2020-11-02 13:15] #383 closed

[2020-11-02 13:21] akatsoulas commented on #361
Hi @rkpip3, it looks like this issue is not related to the OIDC lib thus I am closing it. Thank you for taking the time submitting it

[2020-11-02 13:21] #361 closed

[2020-11-02 13:23] akatsoulas commented on #346
Hi @surfer190 is this issue still relevant? Could you maybe describe in more detail what are you trying to achieve?

[2020-11-02 13:40] surfer190 commented on #346
Hi,I was looking to view the contents of the id and access JWT's.
I achieved this with the code above.
I think a simple browser refresh or login/logout refreshed the client scopes.

Closing the issue.

[2020-11-02 13:40] #346 closed

[2020-11-03 10:30] marius56782 commented on #340
Until a fix is merged, it is possible to fix this by overriding the verify_token method. Something like this would probably work:

    class ValidatingOIDCBackend(OIDCAuthenticationBackend):
        def validate_issuer(self, payload):
            issuer = self.get_settings("OIDC_OP_ISSUER")
            if not issuer == payload["iss"]:
                raise SuspiciousOperation(

[2020-11-20 15:55] pedromendes96 commented on #382
@strus38  any extra information why HS256 doesn't work?

[2020-11-20 16:42] strus38 commented on #382
I think the user info is not decoded cf the code.

Le ven. 20 nov. 2020 à 16:56, Pedro Mendes <notifications@github.com> a
écrit :

[2020-11-26 20:53] variable commented on #382
I was having the same problem with HS256, then I changed to RS256 and define the `OIDC_OP_JWKS_ENDPOINT` then it worked

[code]

[2020-12-02 14:15] airen29 commented on #317
I've got a similar problem.
Error was: `Keycloak returns HTTP-400 "error":"invalid_grant","error_description":"Code not valid"`
I've solved this problem by setting `Access Token Lifespan` to higher numbers.

Then I've encoutered the problem, that Keycloak endpoint `/token` was on first attempt returning `200 OK` but didn't respond with `access_token`. On second attempt I've got `400` HTTP error. I

[2020-12-02 17:13] cfra commented on #375
I can confirm this problem also occurs when using SATOSA as an OIDC provider.

I have provided a PR to resolve this as #387.

[2020-12-07 04:25] #317 closed

[2020-12-14 15:03] He3lixxx opened #388 "User creation uses positional arguments to call UserProfileManager.create_user"
### Issue
The django documentation [allows implementing a custom user profile manager](https://docs.djangoproject.com/en/2.2/topics/auth/customizing/#writing-a-manager-for-a-custom-user-model). It says that it should implement a `create_user` method with the following description:

However, the `OIDCAuthenticationBackend` does not respect this specification, it only works with the [default user pr

[2020-12-15 03:53] laolaolulu opened #389 "My back-end DRF, front-end react with Microsoft's oidc-client-js, can I use it?"
https://github.com/IdentityModel/oidc-client-js

[2020-12-17 01:41] hwine opened #390 "Travis CI free usage ends Dec 3; mozilla repos should switch to other CI platforms"
We're opening this issue because your project has used Travis CI within the last 6 months. If you have already migrated off it, you can close and ignore this issue.

Travis CI is ending free builds on public repositories. travis-ci.com [stopped providing](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing)them in early November, and travis-ci.org [will stop](https://mailchi.mp/3d439eeb109

[2020-12-24 08:59] #375 closed

[2020-12-24 10:27] johngian commented on #281
I tried `import_from_settings` with `$` symbols and seems like its working fine. I don't think it can be reproduced with the latest codebase.

Closing this issue for now. Feel free to re-open with reproduction steps.

[2020-12-24 10:27] #281 closed

[2020-12-24 10:37] johngian commented on #389
We have a `contrib` module to support DRF. I don't know the details of the library but I think its worth a try. Should be compatible.

[2020-12-24 10:37] #389 closed

[2020-12-24 11:33] #388 closed

[2021-01-03 14:06] Mindslave commented on #340
Any updates on this?

I have been reading upn OpenID Connect specification as well and stumpled upon the missing identification of the Issuer that @marius56782 mentioned.

I'm wondering why this hasn't been implemented, is there any reason why it might not matter? Or has simply noone found time to implement it?

[2021-01-13 12:50] marius56782 commented on #340
I am wondering this as well! Apparently this library has been E2E tested and audited by Mozilla InfoSec.

It seems to me that the library actually fails to comply with points 2. 3. and 9. under section 3.1.3.7. ID Token. If it is desirable, I could probably make a PR from the codesnippet above in order to fix those shortcomings?

[2021-01-13 16:11] g-k commented on #340
@akatsoulas or @fiji-flo This looks like a good check to add.

I don't think this part of the spec came up for Mozilla use cases, because Auth0 issues opaque access_tokens when specifying the /userinfo endpoint as the audience https://community.auth0.com/t/why-is-it-necessary-to-pass-the-audience-parameter-to-receive-a-jwt/11412/6

[2021-02-05 16:01] willkg opened #395 "drop support for Python 2.7"
Python 2.7 is done and we should drop support for it. It would let us move the codebase forward and use Python 3 features.

[2021-02-18 14:52] proycon commented on #154
I'm also getting a 401 (like @xoen and not 403 as OP) from my OIDC_OP_TOKEN_ENDPOINT:

[code]

I'm sure the client secret is correct, because another client that does not use mozilla-django-oidc can connect just fine. I'm not sure what's going on yet.

[code]

[2021-02-19 12:56] proycon commented on #154
On the OpenID Connect Provider's end, I'm getting the error: pyop.exceptions.InvalidClientAuthentication: Wrong authentication method used, MUST use 'client_secret_basic'  .. I'm still trying to figure out how to get mozilla-django-oidc to comply with that.

[2021-02-19 13:04] proycon commented on #154
I found the solution to the above issue, it was to set:

[code]

[2021-02-24 14:14] 2chg opened #396 "Use preferred_username from claim for newly created username"
When creating a local user from an OIDC authentication, the username will always be derived from the `email` field. (The method configured via `OIDC_USERNAME_ALGO` only gets the email address)

Despite the fact that using the `preferred_username` field would be more naturally, there seems to be no simple way to change the chosen field. (Or I simply can't find it.)

Maybe an optional settings param

[2021-03-01 16:48] akatsoulas commented on #396
Hi @2chg! You can override the `get_username` method [0] to customize the username. Would that work for your use case?

[2021-03-03 09:46] rogerbn opened #397 "Code authorization flow with PKCE"
Could support for Code authorization flow with PKCE be added to mozilla-django-oidc ? or does that go against design priciple "Mainly support OIDC authorization code flow"`?

[2021-03-07 04:04] ilar commented on #343
For future readers: there is no way to fix this in via OIDC. For cognito, it seems you need to use https://docs.aws.amazon.com/cli/latest/reference/cognito-idp/admin-update-user-attributes.html

Presumably you would do so through boto3.

[2021-03-07 04:04] #343 closed

[2021-03-12 18:04] sbor23 commented on #390
Currently the travis CI is failing due to the new `cryptography` requiring Rust to build.

So even if the current travis.com CI is moved to travis.org (which still is free), that issue should be addressed.
For example see https://travis-ci.org/github/mozilla/mozilla-django-oidc/jobs/762631903

[2021-03-21 13:47] akatsoulas commented on #396
I am closing this issue for now. Please re-open if the proposed solution does not work

[2021-03-21 13:47] #396 closed

[2021-03-21 13:53] akatsoulas commented on #390
Fixed via #394 #398

[2021-03-21 13:53] #390 closed

[2021-03-21 15:01] akatsoulas commented on #370
Fixed in #371, merged in #403

[2021-03-21 15:01] #370 closed

[2021-03-21 15:43] willkg opened #405 "supprting GET for logout should be behind a setting"
Issue #126 intentionally switched logout to be POST-only, but PR #402 switches it so that either GET or POST is allowed. Having it support GET before was raised in a security review which is one of the reasons we changed it. I really don't want to support GET as a logout possibility.

If we must support both, I'd appreciate us putting GET support behind a setting.

[2021-03-21 15:53] johngian commented on #405
Hey @willkg thanks for the feedback. I didn't remember the security aspect, only the discussion about the semantics of get/post on logout. Also i think the OIDC spec uses GET on `/logout` so I thought it would be ok to allow the same endoint. I am happy to put it behind a config entry to opt in instead or even completely removing it.

@akatsoulas thoughts?

[2021-03-21 16:08] willkg commented on #405
Where's that in the OIDC spec? Does it require the GET path to have a CSRF or something similar?

[2021-03-21 16:16] willkg commented on #395
I think this was fixed in pr #403.

[2021-03-21 16:16] #395 closed

[2021-03-21 16:17] willkg opened #407 "update setup.py classifiers regarding support"
The classifiers in setup.py need to be updated after pr #403:

https://github.com/mozilla/mozilla-django-oidc/blob/821de3d54e299f75ba3d7d2d3d4846a3ed7cd836/setup.py#L57-L78

I don't know if we talk about supported Django and Python versions elsewhere, but they should get updated to if they were missed.

[2021-03-21 16:19] willkg commented on #405
I found the security review for mozilla-django-oidc and I misremembered. I fixed a next link issue for that. It didn't include anything about GET vs. POST for logouts. Sorry about that!

[2021-03-21 16:20] akatsoulas commented on #405
I just skimmed through the [RP initiated logout documentation](https://openid.net/specs/openid-connect-rpinitiated-1_0.html#RPLogout) and it looks like RPs can send both. That said, I also missed the context that @willkg provided. Let's default to POST and have a setting for the GET part

[2021-03-21 16:20] johngian commented on #405
This is what I found: https://openid.net/specs/openid-connect-frontchannel-1_0.html, not really part of the core spec.
[code]

That said I don't have any strong opinion about that.

[2021-03-22 11:41] akatsoulas commented on #405
Closing after #406

[2021-03-22 11:41] #405 closed

[2021-03-22 11:42] akatsoulas commented on #407
Thanks @willkg! Fixed in #408

[2021-03-22 11:42] #407 closed

[2021-03-25 16:56] akatsoulas commented on #373
Fixed in #404. Thanks @sannies for reporting this

[2021-03-25 16:56] #373 closed

[2021-03-31 05:15] flabbyThoroughbred opened #409 "Redirect URI incorrect when running Daphne"
I'm running my Okta authenticated django app on Daphne and encountering into an issue where the redirect URI is coming up as http instead of https. As a result I get a Bad Request error when loading my okta login screen.

Since I'm behind an application load balancer that's handling all my https traffic, I don't have Daphne configured to run ssl. It's a pretty bare-bones configuration: just passin

[2021-03-31 11:22] willkg commented on #409
Did you set `LOGIN_REDIRECT_URL`?

https://mozilla-django-oidc.readthedocs.io/en/stable/settings.html#LOGIN_REDIRECT_URL

[2021-03-31 15:58] flabbyThoroughbred commented on #409
I have **LOGIN_REDIRECT_URL** correctly set to go to my main page when login is successful.
I'm referring to the redirect_uri that would look like **https://{my site}/oidc/callback**
This is the same redirect that I set up on my Okta app configuration.

The redirect is dynamically built in the authenticate method of **OIDCAuthenticationBackend**.
The **https://{my site}** portion is provided by th

[2021-03-31 16:48] Cwei1 opened #410 "Redirect URL"
I have a similar issue to https://github.com/mozilla/mozilla-django-oidc/issues/409

When sending the redirect url (oidc/callback) to my authentication server, it throws an error because the url includes symbols that my browser seems unable to parse. How can I specify a redirect url?

I tried using OIDC_AUTHENTICATION_CALLBACK_URL but it gives me a no namespace http error

[2021-03-31 16:58] Cwei1 commented on #410
To be a little more specific it seems like my error is coming from the last slash in the url, followed by the state,

url/oidc/callback/&state=blah gives me an error but when I manually remove the last slash to make it url/oidc/callback&state=blah, the error is resolved, what can I do to solve this?

[2021-03-31 18:56] flabbyThoroughbred opened #411 "Create User creates duplicate database entry"
I noticed on a couple of occasions while testing that my user would end up as a duplicate in the database. One like First.Last@mydomain.com (the preferred email provided by oidc) and also first.last@mydomain.com.

Then I would end up with an error **Multiple users returned**.

The create_user method isn't doing any comparisons to see if that email address already exists in the system. Is there som

[2021-03-31 19:20] #410 closed

[2021-03-31 19:22] Cwei1 opened #412 "OIDC Callback"
I am getting an error SuspiciousOperation at /oidc/callback/

OIDC callback state not found in session 'oidc_states'

What could be the probable cause of this?

Thanks!

[2021-04-01 03:33] flabbyThoroughbred commented on #409
Turns out I didn't need to bother overriding anything or otherwise break the module.
I just passed **SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')**
And all is well!

That being said, being able to specify oidc login redirect (not the redirect that would happen after successful authentication) may still be useful.

[2021-04-01 03:33] #409 closed

[2021-04-14 10:18] ehsanr1366 opened #414 "Get all URL and setting from /.well-known/openid-configuration"
Hi. Do you have a variable to get "/.well-known/openid-configuration" address and read all settings an URLs from it? So If this is possible, it is much better for programmers to enter the settings one by one.

[2021-04-26 12:36] Puschek opened #415 "Multi-tenant ability for authentication"
We used your library for our open source project as an additional authentication backend. Since we switched to a multi-tenant setup, we would like to only use your lib as a single authentication backend but this is not possible as we liked to. I already have a solution on how to do it with your lib and it is working. But that included a lot of copy&past of existing code and just some little change

[2021-04-29 09:35] kaj commented on #414
It seems the current release does not do this, but PR #309 attempts to fix it.  I'm not sure though, I just arrived here.

[2021-04-30 13:12] dannon commented on #341
Is there a good example for how to do this yet?  I have a Vue SPA client with a DRF backend (separate projects entirely, the static SPA won't be served by the django server) and I'm having a bit of trouble figuring out the right handshake.

[2021-05-09 15:00] paulsmirnov commented on #341
+1, the same setup works for me also

[2021-05-09 15:24] akatsoulas commented on #224
For more context see #232

[2021-05-09 15:24] #224 closed

[2021-05-09 15:25] johngian opened #416 "Allow overriding next URL handling from settings"
Currently `get_next_url` function assumes that next URL handling is handled by the `next=URL` argument. It looks like for some cases users want to have custom functionality for that. In order to allow flexibility on next URL handling lets add a config entry to allow overriding it.

[2021-05-09 15:25] johngian commented on #416
Relevant issues: #224

[2021-05-14 11:44] #328 closed

[2021-05-17 16:24] ViktorVikom opened #417 ""redirect_uri" calls "http...callback" instead of "https...callback" in Nginx"
Hi!
I'm getting helpless, the deadline for the bachelor project is within a week and this unexpected complication is worse than the Spanish inquisition, it took me almost a week of an headache already, which was supposed to be filled with final enhacements of the project.

So, my website uses OIDC to let people from my university to log into it. In localhost/within my LAN everything works fine: "h

[2021-06-01 00:18] matosmts commented on #417
The same is happening here, did you get a solution for this problem?

[2021-06-01 00:32] matosmts commented on #417
Actually, just figured it out, set these parameters on your settings.py file
This way  everything will process through https
[code]

[2021-06-01 15:08] regilero commented on #340
@marius56782 your fix would not make any checks on access tokens received via the contrib/drf.py Authenticator (like checking the audience in a bearer Token on a Rest API call).

Using DRF you get a rapid call to  `get_or_create_user` with the access token, but no id_token step. And you cannot call verify_id_token on this access token because there's a `nonce` check on the id token.
I made my own

[2021-06-02 00:39] matosmatheus7 opened #418 "Not an issue, but how can I show the logged user data on template"
How can I show the logged user data on the template?
I am able to perform the login, but I want to to show data user on the template, this data came from the provider.

[2021-06-08 18:54] asrozar commented on #417
@matosmts - Where did you find this? I don't see it documented anywhere, and I'm having the same issue where the redirect_uri is being generated with HTTP vs HTTPS. These did not change anything with my situation.

[2021-06-10 17:55] naegelyd-insitro opened #419 "Release a new version of the library"
There are quite a few features and fixes committed since the last release from about 10 months ago. While we can install from master for now, it would be nice to have a new release of the library containing these changes.

[2021-06-15 14:33] leuat opened #421 "Problems with mozilla-django-oidc callback"
Hi there! OIDC & django n00b here, so please bear with me.

Set up mozilla-django-oidc on a https apache server with rs256 and correct  endpoints (OIDC_OP_JWKS_ENDPOINT,OIDC_RP_SIGN_ALGO,OIDC_OP_TOKEN_ENDPOINT, OIDC_OP_AUTHORIZATION_ENDPOINT) all set etc.

I manage to log in - but afterwards, the server crashes with a json format error (basically crashing on  "self.user = auth.authenticate(**kwarg

[2021-06-15 14:38] leuat commented on #421
`Environment:

Request Method: GET
Request URL: https://www.nutil.org/oidc/callback/?state=UcE4K8MaU5FsnwgeenrAOWR72YdhQxOT&session_state=cb1ce972-0be7-4427-8bb5-78ff8449e728&code=243462ae-5bb1-4d11-9faa-fe3dc45d534d.cb1ce972-0be7-4427-8bb5-78ff8449e728.360bb004-2b5f-4d68-bcb0-c71b030be07c

Django Version: 3.2.4
Python Version: 3.6.9
Installed Applications:
['django.contrib.admin',
 'django.contri

[2021-06-16 09:57] leuat commented on #382
I'm having the same problem with HS256 (JWS token verification failed), but when changing to RS256 and define OIDC_OP_JWKS_ENDPOINT to ../certs, I get an json parser exception.. see  https://github.com/mozilla/mozilla-django-oidc/issues/421

[2021-06-16 12:49] jeswanthmukesh20 opened #422 "django oidc callback returns 502 bad gateway in nginx"
### **I am creating Django and keycloak authentication with Nginx in the docker container.**

**My url https:/example.com/oidc/callback/?state=XXXXXXXXXXX**

[code]

After entering credentials I was getting this error
It returns **502 Bad Gateway**

**Errors**

[code]

I can't enter into Django page

[2021-06-16 23:31] variable commented on #421
Any chance you can display the json content?

[2021-06-18 11:42] ecogels commented on #417
matosmts's answer is for another package. This package uses django's request.build_absolute_uri to build the various urls.

My setup is nginx -> proxy_pass gunicorn.

What I did was:
- pass the headers to gunicorn in nginx conf
[code]

- modify gunicorn to start with
`--forwarded-allow-ips="*"`

Please read the security implication [in the documentation](https://docs.gunicorn.org/en/stable/setting

[2021-06-18 14:35] lery12 commented on #320
Thanks for this solution!

Changed "returnTo" to "redirect_uri" and it works for keycloak 13.0

[2021-06-26 19:00] gummibearz commented on #244
we had defined CustomOIDCAuthenticationCallbackView so we had to update the following oidc_state check

with the following
https://github.com/mozilla/mozilla-django-oidc/blob/2a7a1b23175316db22b9f7b6a850819fdb86cc58/mozilla_django_oidc/views.py#L72

[2021-07-19 12:51] anitabee opened #423 "Question: Possibility to retry calls over the Transport Adapter interface?"
Hi :wave:

**Explain the issue:**

Our use case of this package requires more robustness for some connectivity and temporary errors.
For example, if I hit 503, I want to retry calls n amount of times.
But, looking at docs and codebase (maybe I've missed it), I didn't find a way to achieve this?
Is there some already known way to tackle something like this? If not, would you be interested in the be

[2021-08-09 06:20] edysli opened #431 "OpenID certification?"
Do you plan to have your OIDC client implementation [certified using the OpenID Foundation's conformance tests](https://openid.net/certification/)?

[2021-08-09 11:02] leuat commented on #421
Sorry, been away for the summer - back now, problem still persists

when printing out the corrupted json, there's actually an error message here :

AnonymousUser
None
AnonymousUser
<Response [200]>
Internal Server Error: /oidc/callback

any ideas?

[2021-08-09 11:44] leuat commented on #421
Back from holdays, gotta look into this again.

in auth.py "get_userinfo", user_response.json() crashes - also whenever I'm trying to print it to the log, so the format conversion fails (sys.stderr.write(user_response.json() crashes with the same message). Any ideas on how to actually view the response object?

[2021-08-12 00:09] #418 closed

[2021-08-16 14:22] marius56782 commented on #340
Thank you for your reply, @regilero.

Good point! My solution simply addresses the title of this issue, namely verification of the ID token. If a solution is to be merged at some point, it should probably be general enough to handle all use cases.

Yes, but according to the [spec](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) 'aud' is actually required. I agree that KeyError is no

[2021-08-30 12:45] mike42smith opened #434 "Improvement of URL resolving in views"
Hello everybody,

what do you think about to follow the official Django approach to provide the different URLs in the OIDCAuthenticationCallbackView and OIDCLogoutView by adding the resolve_url() function to the current return values.

Right now no URL pattern (like: app_name:url_path_name) can be used in the global settings for LOGIN_REDIRECT_URL or LOGOUT_REDIRECT_URL because the current impleme

[2021-08-30 21:03] gh-ajenkins opened #435 "OIDC callback state not found in session `oidc_states`!"
After logging into the mozilla/oidc-testprovider IDP, a `SuspiciousOperation` exception is thrown with message ```OIDC callback state not found in session `oidc_states`!```. '

Dependencies
[code]
Reproducing the issue:
* follow instructions to start `testprovider` service locally
* create new Django project and app with the code snippets below
* set relevant environment variables to predefined va

[2021-09-02 19:16] naegelyd-insitro commented on #419
Thanks. New version was released in https://github.com/mozilla/mozilla-django-oidc/pull/429. Closing.

[2021-09-02 19:16] #419 closed

[2021-09-02 20:17] naegelyd-insitro commented on #435
I have recently seen this same issue. @gh-ajenkins Please let me know if you find any more details about the cause or if a fix is found.

[2021-09-07 13:18] #422 closed

[2021-09-15 12:13] psilva1982 opened #437 "DRF integration verify jws?"
I performed some tests reporting random values for OIDC_OP_JWKS_ENDPOINT and or OIDC_RP_SIGN_ALGO and from what I realized the integration with DRF does not validate the token through the public key, is that right?

[2021-09-15 12:42] AlbericTrancart commented on #435
I am experiencing the same issue too. Seems to happen quite rarely (2 occurrences last month in our Sentry logs for ~20 users/day)
Will report here if I have more details

[2021-09-17 16:44] m6312 commented on #437
When using the client credentials flow (i.e. DRF integration), `mozilla_django_oidc.contrib.drf.OIDCAuthentication` seems to use the access token to make a request to the UserInfo endpoint, and if this request is successful then the access token is treated as valid. It doesn't perform any further verification itself.

I'm not sure this is the correct thing to do. I have the impression that `mozill

[2021-09-20 10:27] akatsoulas commented on #435
I am seeing this issue from time to time and I am trying to figure out under which conditions this is triggered. Please let me know if you have any more details about it

[2021-09-29 00:12] cyril36 opened #438 "Not Persistent User creation"
Hello,

### Use case
I dont want to manage my users in Django and keep them only on the identity provider (in my case Keycloak)
Mozilla-django-oidc store the user information from identity provider in the django database.
I have added some code to do not save the user information store in the database but still be able to get a User object and request.user object out of the identity provide

1) Is

[2021-10-18 08:30] leuat opened #440 "IFrame and OIDC authentication"
Hi there!

I'm using mozilla-django-oidc to authenticate users across a platform, which is working just fine. However, my page is supposed to be integrated into a larger framework using iframes - and then oidc authentication fails spectacularly (nothing is rendered, just getting redirected back to the main page).

Any ideas / settings to allow  authentication from iframes?

[2021-10-29 07:33] ftang001 opened #442 "Enabling ES256/384/512"
I have been working with a provider that prefers ES256, so did some quick tests to see how hard it would be to extend support in mozilla-django-oidc.  As the flow is similar to RS*** and it's supported by josepy, it turns out to be very easy indeed - just 2 lines in auth.py and it seems to work:
[code]
Is anyone keen to review / add this?

Thanks.

[2021-10-31 09:35] #440 closed

[2021-11-02 21:54] vaimdev commented on #415
Support for this feature.
I am working on adding OIDC authentication capability for a Django app that supports multi-tenants. I am planning to fork the repo to implement my version as Puschek did.
However, I hope it can be an upstream feature since SSO capability is needed by many organizations and they have their own configurations and settings.

[2021-11-10 14:18] cfra commented on #435
I believe to have found one way this can happen:

When a user sends two requests requiring authentication roughly at the same time, e.g. because they reopened their browser with old tabs, and the session refresh middleware is being used, both requests try to modify the session to add their state, however only as there is no locking, the changes of one of the two request are overwritten by the othe

[2021-11-11 16:03] nikita-sunwind commented on #435
@cfra I guess you are right. I've been investigating the same issue during some time. In our case we face issues when end users use Chrome browser on any operating system (Windows, MacOS and Linux). I guess, this may be connected to some Chrome performance optimization feature, because this problem is reproduced even without multiple or pinned browser tabs.

In all cases we see two concurrent requ

[2021-11-29 12:45] anitabee commented on #423
We eventually solved it by attaching wrapper methods that did retries for specific exceptions.

[2021-11-29 12:45] #423 closed

[2021-12-02 10:40] leuat opened #444 "OIDC keycloak in sub app / iframe"
Hi there!

I have used django-oidc-mozilla in a django web app. works just fine stand-alone.

However, the app is now integrated into another framework (outside of my control) that displays my page in an iframe. This external framework also contains the oidc access point for logging in, so when a user navigates to my app and gets it displayed in an iframe, ideally the "oidc_access_token" object in

[2021-12-02 12:23] leuat commented on #444
Managed to fix this with automatic redirection to the oidc auth login if session contains an error.

[2021-12-02 12:23] #444 closed

[2021-12-17 04:14] senorpinatta opened #446 "What is the Correct Endpoint for Logging out of an Azure Session?"
[code]

My question is about the Logout Endpoint formatting.

With the configuration above, clicking 'Logout' from the admin page results in a 404 Page Not Found Error.
<img width="443" alt="image" src="https://user-images.githubusercontent.com/8880195/146487532-2cb059a5-ed88-40a4-8bde-e91025ab8bb3.png">

Can anybody confirm as to what the correct endpoint is if the prefix is not "**https://login.

[2021-12-17 05:01] senorpinatta commented on #446
login.windows.net is outdated.
Use login.microsoftonline.com.

[2021-12-17 05:01] #446 closed

[2021-12-22 14:02] joeyberkovitz commented on #340
I know this would be a significant change, but a library like [PyJWT](https://pyjwt.readthedocs.io/en/stable/index.html), which has significant community usage already has full support for JWT validation, while josepy only supports signature verification. It may be better to adjust this library to use PyJWT instead of josepy rather than attempt to reimplement all of the JWT verification logic.

[2021-12-24 09:14] rehmat11872 commented on #265
same issue how i can tickle this issue

[2021-12-27 23:01] rhclayto commented on #421
How did you resolve it? I'm having the same problem.

[2021-12-27 23:05] rhclayto commented on #376
What change makes this work? I have the same problem.

[2022-01-22 21:26] dolphingarlic opened #449 "Doesn't work with `djangorestframework-simplejwt`"
Hi there. I have a website that uses both OIDC and JWT authentication. I thought of using this and the `djangorestframework-simplejwt` packages together to achieve this, but they don't seem to play well together. One of the authentication methods doesn't work, depending on how I order the authentication classes in `settings.py`.

Here are my REST framework settings in `settings.py`:

[code]

Is th

[2022-01-30 21:06] MrJizzler commented on #435
Not sure if this fixes the issue, but the `def add_state_and_nonce_to_session` function in `utils.py` does not call `request.session.modified = True` as described here [https://docs.djangoproject.com/en/3.2/topics/http/sessions/#when-sessions-are-saved](https://docs.djangoproject.com/en/3.2/topics/http/sessions/#when-sessions-are-saved). This allows for multiple session states to be saved.

[2022-01-30 23:06] themooer1 commented on #442
Were you able to get this same thing working with P256?  I tried adding `self.OIDC_RP_SIGN_ALGO.startswith('PS')` in those same places, but josepy refused to verify the signatures even though the RSA keys stayed the same.

josepy did successfully parse the RSA signing key from the JWKS endpoint, and recognized that the signature was `PS256`.

[2022-01-31 10:52] willtho89 commented on #347
@JaredBrown138 can you give me a hand here? Which to methods do you mean? I'm guessing `verify_token` and `get_userinfo`?

Can you post your examples?

[2022-02-05 20:21] markperri opened #450 "Add idp_hint to /oidc/authenticate?"
Is it possible to add an extra query (idp_hint) when opening /oidc/authenticate?  I would like to change the query depending on the user logging in.  I saw #439 but it didn't seem like that was merged or customizable.

[2022-02-11 16:10] Sandro-Meireles commented on #435
After a lot of research I was able to identify the source of the problem. I will try to briefly explain why the error occurs and how to solve it.

By default, the first endpoint called is `/oidc/authenticate/` which redirects to a page that will be responsible for logging in and then redirects again to `/oidc/callback/` sending some information.

We can divide this into 2 steps:
1 - Call the `/oid

[2022-02-18 05:05] ingGhost commented on #440
hy can u give me example how to use SSO for cross platform?

[2022-03-07 11:06] yadu-alation commented on #435
We are getting this error when end user uses chrome. Everything works fine when end-users uses Firefox or safari. Is there any workaround for this ?

P.S. I tried `request.session.modified = True` but, no luck :(

[2022-03-14 13:01] valcinei commented on #435
You needs add class of [authentication backend ](https://mozilla-django-oidc.readthedocs.io/en/stable/installation.html#connecting-oidc-user-identities-to-django-users) and orverride create_user method to add `is_staff` or `is_superuser` to `True`.
Add  `AUTHENTICATION_BACKENDS` in settings.py refering to you custom class backent
Example:

[code]

In settings.py
[code]

[2022-03-14 16:32] sklarsa commented on #450
I'm looking into this as well, using a different querystring param, but same idea.  I don't think it's possible to make this dynamic on a per-request basis, but I'm making a PR that adds this functionality since it seems to be a pretty common thing among IDPs

[2022-03-14 23:17] Lamberk commented on #435
First of all, thank you for your effort, @valcinei

Could you please explain a little bit more about how exactly is_staff attribute is fixing the issue? :)

[2022-03-14 23:41] valcinei commented on #435
@Lamberk in my case, I got error related to permission.
User was only  stored in keycloak.
Schenario:
1 Login in /oicd/***
2 Redirects to Keycloak auth login
3 Authenticate in Keycloak and redirects to django app
4 User not have permission then Django redirects to keycloak login again.
5 User already authenticated then redirect to admin again.
6 Recursive redirects then `oidc_states` Exception.

A

[2022-03-31 18:23] pphysch commented on #435
This issue came up in development and I realized it was due to my choice of email for the local Django superuser, which matched the OIDC user's email I was trying to login as. By default, this OIDC plugin identifies users by their email.

Changing the email on the local account, via the admin portal or database, fixed the issue in my case.

[2022-04-07 12:08] jellestoel commented on #450
Maybe this helps: I use kc_idp_hint in the following way.

settings.py.
[code]

base/views.py
[code]

[2022-04-09 02:31] markperri commented on #450
Thanks, I'll give that a try!

[2022-04-16 08:59] suyogbargule commented on #265
same problem

[2022-04-28 11:03] krzysieqq opened #454 "Reverse for 'oidc_authentication_init' not found if mozilla_django_oidc.urls in namespace with app_name"
I have problem with login with oidc after put to MIDDLEWARE `"mozilla_django_oidc.middleware.SessionRefresh",` because I have mozilla in namespace with app_name:

[code]

Problem is with `exempt_urls` in `mozilla_django_oidc/middleware.py` because current my routing to oidc urls need to have `api:` prefix to work correctly `exempt_urls` fucntion force adding urls without any prefix:

[code]

I thi

[2022-05-09 09:38] GliderGeek opened #455 "Django 4 support"
From the current [ tox file](https://github.com/mozilla/mozilla-django-oidc/blob/master/tox.ini) i conclude that 3.2 is the latest django version which is supported by this library. Is support for django 4 something that you are willing to add?

[2022-05-15 19:42] rv2931 opened #456 "SuspiciousOperation at /oidc/callback/: The provider algorithm 'RS256' does not match the client's OIDC_RP_SIGN_ALGO"
Hello
I have a bitnami/keycloak docker instance on my local dev machine and trying to authenticate a django mozilla-django-oidc client
First problem I met was a

I solved this error by replacing "localhost" by "host.docker.internal:8443" for OIDC_OP_AUTHORIZATION_ENDPOINT, OIDC_OP_TOKEN_ENDPOINT and OIDC_OP_USER_ENDPOINT. It is due to the use of docker platform here localhost is not the real local

[2022-05-17 06:17] rv2931 commented on #456
Hi
I finally partially solved my problem.
I was using OIDC_RP_IDP_SIGN_KEY="RS256" instead of OIDC_RP_SIGN_ALGO="RS256"
And I had to fill the OIDC_RP_IDP_SIGN_KEY with Kid from Keycloak/RS256 key
Si good configuration for keycloak seems to be
[code]

Now I'm facing to a
`AttributeError at /oidc/callback/ 'bytes' object has no attribute 'verify'`

but as I already read about this error, I think it

[2022-05-17 06:17] #456 closed

[2022-05-18 13:00] lbeaufort opened #457 "Adding support for `private_key_jwt` client authentication method?"
Hi there! Thanks for providing this helpful package.

I was building a prototype for an app that uses an RP that requires the `private_key_jwt` client authentication method and doesn't support the implicit flow due to security reasons ([login.gov](https://developers.login.gov/oidc/#choosing-an-authentication-method)).

I made some changes on a forked copy of this repo to [support the `private_key_

[2022-05-25 11:27] jaap3 commented on #455
I don't think anybody is opposed to adding Django 4 support. It's just a matter of somebody doing the required work (i.e. changing the tox, circleci and github workflows to also run the test suite on Django 4, and fixing any potential issues). (This could be you perhaps?).

Once that is done, it should still be reviewed and merged. This last step seems to be a challenge currently. There are multip